.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button-group {
  /* Optional: zusätzliche Stildefinitionen für die Button-Gruppe */
}

.button-group button.active {
  background-color: #3b4252;
  color: white;
}
.button-group button {
  border-color: #3b4252; /* Blau */
  border: 2px solid #3b4252 !important;
  color: #3b4252;
  margin-left: 5px;
}

.mat-elevation-z8 {
  background: #eceff4;
  color: black;
}

.content {
  height: 20h;
  margin: 16px;
  /* margin-left: 32px; */
  padding:16px;

  contain: content;
  overflow-y: hidden;
  scrollbar-width: thin;

  font-size: 14px;
  border-radius: 10px;
}

.tab-content-container {
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
/*   background-color: #C0E0FC; */
  background-color: #eceff4;
}
