<div *ngIf="activeConceptNode.databaseId != -1" class=" content mat-elevation-z8">
  <h1 matTooltip="Id: {{activeConceptNode.databaseId}}">{{activeConceptNode.name}}</h1>
  <p>{{activeConceptNode.description}}</p>

  <mat-tab-group animationDuration="0ms">
    <mat-tab label="Content">
      <div class="tab-content-container">
        <app-contentBoard class="tab-content" [contentsForActiveConceptNode]="contentsForActiveConceptNode"
          [activeConceptNodeId]="activeConceptNode.databaseId"></app-contentBoard>
        <!--Communication to Child-Component-->
      </div>
    </mat-tab>

    <mat-tab label="Aufgaben">
      <app-task-overview [activeConceptNodeId]="activeConceptNode.databaseId"></app-task-overview>
    </mat-tab>

    <mat-tab label="Kompetenzen">
      <div class="tab-content-container">
        <app-competencies [contentsForActiveConceptNode]="contentsForActiveConceptNode"></app-competencies>
      </div>
    </mat-tab>

    <mat-tab label="Diskussion">
      <div class="tab-content-container">
        <app-discussion-list [activeConceptNodeId]="activeConceptNode.databaseId"></app-discussion-list>
      </div>
    </mat-tab>
  </mat-tab-group>

</div>
