<div class="user-list-container">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event)" placeholder="Filter users">
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
      <td mat-cell *matCellDef="let user"> {{user.email}} </td>
    </ng-container>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> User ID </th>
      <td mat-cell *matCellDef="let user"> {{user.id}} </td>
    </ng-container>

    <ng-container matColumnDef="kiFeedbackCount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> KI Feedback Count </th>
      <td mat-cell *matCellDef="let user"> {{user.kiFeedbackCount}} </td>
    </ng-container>

    <ng-container matColumnDef="chatBotMessageCount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Chatbot Message Count </th>
      <td mat-cell *matCellDef="let user"> {{user.chatBotMessageCount}} </td>
    </ng-container>

    <ng-container matColumnDef="totalProgress">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Progress </th>
      <td mat-cell *matCellDef="let user">
        <a class="clickable-progress" (click)="viewUserProgress(user.id)">{{user.totalProgress | percent:'1.0-0'}}</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="subjects">
      <th mat-header-cell *matHeaderCellDef> Subjects </th>
      <td mat-cell *matCellDef="let user">
        <div *ngFor="let subject of user.subjects">
          {{subject.name}}
          <mat-checkbox
            [checked]="subject.registeredForSL"
            (change)="toggleRegisteredForSL(user.id, subject.id, subject.registeredForSL)"
          >
            Registered for SL
          </mat-checkbox>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
