<div class="grading-upload-container">
  <div class="rounded-box">
    <h2>Abgabenübersicht</h2>
    <p class="description">
      Hier sehen Sie alle hochgeladenen Abgaben<span *ngIf="question"> zur gewählten Aufgabe</span>, gruppiert nach Aufgabe und Nutzer. Sie können die Tabelle nach den Spalten sortieren, z.B. nach dem jüngsten Upload-Datum pro Gruppe. Beim Klick auf den Dateinamen wird die Datei heruntergeladen.
    </p>
    <p *ngIf="question">
      Ausgewählte Aufgabe: <strong>{{ question.name }} (ID: {{ question.id }})</strong>
    </p>
  </div>

  <div class="rounded-box">
    <div *ngIf="isLoading" class="loading-indicator">
      <p>Loading...</p>
    </div>

    <div *ngIf="error" class="error-message">
      <p>{{ error }}</p>
    </div>

    <table *ngIf="!isLoading && !error" class="grading-table">
      <thead>
        <tr>
          <th (click)="sortBy('conceptTitle')" [class.sorted]="sortColumn === 'conceptTitle'">
            Thema
            <span *ngIf="sortColumn === 'conceptTitle'">{{ sortDirection === 'asc' ? '▲' : '▼' }}</span>
          </th>
          <th (click)="sortBy('questionTitle')" [class.sorted]="sortColumn === 'questionTitle'">
            Frage
            <span *ngIf="sortColumn === 'questionTitle'">{{ sortDirection === 'asc' ? '▲' : '▼' }}</span>
          </th>
          <th (click)="sortBy('userMail')" [class.sorted]="sortColumn === 'userMail'">
            Email
            <span *ngIf="sortColumn === 'userMail'">{{ sortDirection === 'asc' ? '▲' : '▼' }}</span>
          </th>
          <th (click)="sortBy('fileName')" [class.sorted]="sortColumn === 'fileName'">
            Datei
            <span *ngIf="sortColumn === 'fileName'">{{ sortDirection === 'asc' ? '▲' : '▼' }}</span>
          </th>
          <th (click)="sortBy('latestUploadDate')" [class.sorted]="sortColumn === 'latestUploadDate'">
            Datum (jüngster Upload)
            <span *ngIf="sortColumn === 'latestUploadDate'">{{ sortDirection === 'asc' ? '▲' : '▼' }}</span>
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let key of sortedGroupKeys">
          <tr>
            <td>{{ groupedAnswers[key][0].conceptTitle }}</td>
            <td>{{ groupedAnswers[key][0].questionTitle }}</td>
            <td>{{ groupedAnswers[key][0].userMail }}</td>
            <td>
              <a *ngIf="groupedAnswers[key][0].fileName" href="#" (click)="downloadFile(groupedAnswers[key][0].fileUniqueIdentifier || ''); $event.preventDefault();">{{ groupedAnswers[key][0].fileName }}</a>
              <span *ngIf="!groupedAnswers[key][0].fileName">n/a</span>
            </td>
            <td>{{ getLatestUploadDate(key) | date:'dd.MM.yyyy HH:mm' }}</td>
            <td>
              <button mat-stroked-button color="primary" *ngIf="groupedAnswers[key].length > 1" (click)="toggleGroup(key)" style="white-space:nowrap;">
                {{ expandedGroups[key] ? 'Weniger anzeigen' : (groupedAnswers[key].length - 1) + ' weitere' }}
              </button>
            </td>
          </tr>
          <ng-container *ngIf="expandedGroups[key]">
            <tr class="expanded-row" *ngFor="let item of groupedAnswers[key]; let i = index" [hidden]="i === 0">
              <td>{{ item.conceptTitle }}</td>
              <td>{{ item.questionTitle }}</td>
              <td>{{ item.userMail }}</td>
              <td>
                <a *ngIf="item.fileName" href="#" (click)="downloadFile(item.fileUniqueIdentifier || ''); $event.preventDefault();">{{ item.fileName }}</a>
                <span *ngIf="!item.fileName">n/a</span>
              </td>
              <td>{{ item.uploadDate | date:'dd.MM.yyyy HH:mm' }}</td>
              <td></td>
            </tr>
          </ng-container>
        </ng-container>
      </tbody>
    </table>
  </div>

</div>
