<mat-card
  class="list-item"
  (click)="onTaskClick()"
  matRipple
  [matRippleDisabled]="!rippleEnabled"
  [ngClass]="{
    'item-completed': contentElementData.question?.progress === 100,
    'edit-mode': isAdmin && editModeActive,
    'not-visible': !contentElementData.isVisible,
  }"
>
  <mat-card-header>
    <div
      mat-card-avatar
      class="list-item-avatar"
      matTooltip="CEID: {{ contentElementData.id }}"
      [matTooltipShowDelay]="5000"
    >
      <mat-icon [fontIcon]="getQuestionTypeIcon(contentElementData.question?.type)"></mat-icon>
    </div>
    <mat-card-title class="list-item-title">{{ contentElementData.question?.name }}</mat-card-title>
    <mat-card-subtitle>{{
      getQuestionTypeReadable(contentElementData.question?.type)
    }}</mat-card-subtitle>
  </mat-card-header>

  <!-- Space for a more specific task description -->
  <!-- <mat-card-content>
    <p>{{contentElementData.question?.description}}</p>
  </mat-card-content> -->

  <!-- level stars -->
  <div class="list-item-stars">
    <div class="stars">
      <mat-icon *ngFor="let star of getLevels(contentElementData.question?.level || 0)">{{
        (contentElementData.question?.progress || 0) < 100 ? 'star_border' : 'star'
      }}</mat-icon>
    </div>
  </div>

  <div
    *ngIf="isAdmin && (isGradingContent || editModeActive)"
    class="edit-overlay"
    (mouseenter)="onHoverMenuMouseEnter($event)"
    (mouseleave)="rippleEnabled = true; editModeButtonsClickable = false"
  >
    <!-- admin / teacher actions -->
    <div *ngIf="isGradingContent">
      <button mat-mini-fab color="primary" (click)="$event.stopPropagation(); onTaskGrading()">
        <mat-icon>grading</mat-icon>
      </button>
    </div>

    <!-- edit mode actions -->
    <div *ngIf="editModeActive">
      <button
        mat-mini-fab
        color="primary"
        (click)="$event.stopPropagation(); onTaskVisibilityToggle()"
      >
        <mat-icon>{{ contentElementData.isVisible ? 'visibility' : 'visibility_off' }}</mat-icon>
      </button>
      <button mat-mini-fab color="primary" (click)="$event.stopPropagation(); onTaskEdit()">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-mini-fab color="warn" (click)="$event.stopPropagation(); onTaskDelete()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>

  <mat-card-footer>
    <mat-progress-bar
      *ngIf="contentElementData.question && contentElementData.question.progress > 0"
      class="list-item-progress-bar"
      mode="determinate"
      [ngClass]="{ completed: contentElementData.question.progress === 100 }"
      [value]="contentElementData.question.progress"
    ></mat-progress-bar>
  </mat-card-footer>
</mat-card>
