<div class="rating-component">
  <h3>War dieses Feedback hilfreich?</h3>

  <div class="star-container">
    <span
      *ngFor="let star of [1, 2, 3, 4, 5]"
      class="star"
      [class.filled]="star <= (hoverState || rating)"
      (click)="onStar(star)"
      (mouseenter)="onMouseEnter(star)"
      (mouseleave)="onMouseLeave()"
    >
      ★
    </span>
  </div>

  <button mat-raised-button color="primary" [disabled]="rating === 0" (click)="submitRating()">
    Feedback senden
  </button>
</div>
