div {
  position: fixed;
}

.grey-background {
  background-color: rgba(128, 128, 128, 0.9);
  color: #ffffff;
  padding: 10px;
  font-size: 0.8em;
}

.tooltip-content {
  position: fixed;
  z-index: 1000;
}

.left-align {
  text-align: left;
}
