<!--Show content based on node (Could be a Video(s) and/or PDF(s) and/or code, which can be executed-->
<!--Idea: Put everything in Angular Material Expansion Panels to make the navigation easier-->
<div *ngIf="pdfSrc">
  <div class="center">
    <a [href]="pdfSrc" type="application/pdf" target="_blank">
      <p><i class=" inline-icon material-icons">download_for_offline</i>
      Download PDF</p>
    </a>
    <object [data]="pdfSrc" type="application/pdf" class="pdf-content">
      <a [href]="pdfSrc" type="application/pdf" target="_blank">
        <p>Es gibt Probleme beim Anzeigen des Dokuments. Sollte das Problem länger bestehen, wenden Sie sich an unseren Support.</p>
      </a>
    </object>
  </div>
</div>
