
<h1>The Buttons are just a demonstration for the files api and how to use it with the files service in angular.</h1>
<button (click)="downloadFile('1')">Download File Id 1</button>
<button (click)="downloadFile('2')">Download File Id 2</button>



<!--Show content based on node (Could be a Video(s) and/or PDF(s) and/or code, which can be executed-->
<!--Idea: Put everything in Angular Material Expansion Panels to make the navigation easier-->
<ngx-extended-pdf-viewer [src]="pdfSrc"> <!--ToDo: Customize Size-->
</ngx-extended-pdf-viewer>
