.form-container {
  padding: 0.3rem;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 0.5rem;
}

.box {
  position: relative;
  padding: 1em 0;
  background-color: #eee;
  border: 1px solid #bbb;
  border-radius: 0.5rem;
  box-shadow:
    0 1px 1px -2px rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.assignment {
  grid-column: 1 / span 1;
  grid-row: 1 / span 5;
}

.evaluation {
  grid-column: 1 / span 1;
  grid-row: 6 / span 5;
}

.assignment,
.evaluation {
  overflow-wrap: break-word;
  overflow-y: auto;
  scrollbar-gutter: stable both-edges;
}

.solution {
  padding: 0;
  grid-column: 2 / span 4;
  grid-row: 1 / span 9;
  background-color: rgb(248, 242, 233);
  overflow-y: auto;
}

.controls {
  grid-column: 2 / span 4;
  grid-row: 10 / span 1;
}

.controls {
  height: 100%;
  border: none;
  background-color: transparent;
  box-shadow: none;
  padding: 2em;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1em;
}

.controls button {
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8em;
  color: #eee;
  font-size: 1.2em;
  border: none;
  border-radius: 0.3em;
  box-shadow:
    0 1px 1px -2px rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.controls button:hover {
  cursor: pointer;
}

.controls button.primary {
  background-color: rgb(63, 81, 181);
}

.controls button.primary:hover {
  background-color: rgb(83, 101, 201);
}

.controls button.warn {
  background-color: rgb(244, 67, 54);
}

.controls button.warn:hover {
  background-color: rgb(246, 103, 92);
}

.controls button.question {
  background-color: #fff;
  // color:#aaa;
  color: rgb(63, 81, 181);
}

.controls button.question:hover {
  background-color: #ddd;
}

.controls button:disabled {
  background-color: #bbb;
  cursor: not-allowed;
  background-color: #d3d3d3;
  color: #808080;
}

mat-button-toggle-group {
  border-radius: 0.5em;
  box-shadow:
    0 1px 1px -2px rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.controls {
  mat-button-toggle-group {
    height: 90%;
  }
}

.mat-button-toggle-appearance-standard {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-button-toggle-appearance-standard.mat-button-toggle-checked {
  background-color: rgb(63, 81, 181);
  color: #eee;
}

.mat-button-toggle-appearance-standard.mat-button-toggle-checked:hover {
  background-color: rgb(83, 101, 201);
}

.evaluation {
  mat-button-toggle-group {
    width: 100%;
    border-radius: 0.4em;
    background-color: transparent;
  }

  .mat-button-toggle-appearance-standard {
    height: 2em;
    width: 50%;
    background-color: #ddd;
    color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mat-button-toggle-appearance-standard.mat-button-toggle-checked {
    background-color: #666;
    color: #fff;
    background-color: rgb(63, 81, 181);
    color: #eee;
  }
}

.navigation-button {
  width: 100%;
  background-color: rgb(63, 81, 181);
  color: #fff;
  font-weight: 500;
  border-radius: 0.5em;
  padding: 0.4em;
  margin-bottom: 2em;
}

.navigation-button:hover {
  background-color: rgb(83, 101, 201);
  cursor: pointer;
}

.image-button {
  position: relative;
  border: none;
  cursor: pointer;
  height: 80%;
  border-radius: 1em;
  width: 2.2em;
}

.image-button svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 60%;
}

.image-button.question svg {
  // question icon is a little bit bigger
  height: 70%;
  width: 70%;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

.star-button {
  &.animate-star {
    animation: bounce 1s infinite;
    .mat-icon {
      font-size: 28px;
      width: 28px;
      height: 28px;
      line-height: 28px;
    }
  }

  .mat-icon {
    &.gold {
      color: gold;
    }

    &.grey {
      color: grey;
    }

    &.glow-effect {
      filter: drop-shadow(0 0 2px #ffd700);
    }
  }
}
