<div class="content mat-elevation-z8">
  <div class="row">
    <h2>Filter:</h2>
    <!-- select all button -->
    <button *ngIf="allSelected" mat-raised-button>Alle</button>
    <button *ngIf="!allSelected" (click)="onAllDiscussions()" mat-stroked-button>Alle</button>
    <!-- filter button -->
    <button *ngIf="allSelected" (click)="onSelectFilter()" mat-stroked-button>
      {{ filterTitle }}
      <span class="{{ filterSelection ? 'arrow-up' : 'arrow-down' }}"></span>
    </button>
    <button *ngIf="!allSelected" (click)="onSelectFilter()" mat-raised-button>
      {{ filterTitle }}
      <span class="{{ filterSelection ? 'arrow-up' : 'arrow-down' }}"></span>
    </button>
  </div>
  <!-- the filter seclection box -->
  <div [ngClass]="{ 'fade-in-out': true, active: filterSelection }">
    <hr />

    <div>
      <div class="row" style="margin-top: 40px">
        <!-- Selectable content Node which is dynamically updated -->
        <mat-form-field appearance="outline">
          <mat-label>Abschnittskarte</mat-label>
          <mat-select #contentSelection>
            <mat-option selected value="-1">Alle Karten</mat-option>
            <mat-option *ngFor="let content of contentNodes" [value]="content.id">{{
              content.name
            }}</mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Search bar TODO: Basic search function -->
        <mat-form-field appearance="outline">
          <mat-label>Titelname</mat-label>
          <input matInput #searchInput type="text" placeholder="Bitte eingeben..." />
        </mat-form-field>
      </div>

      <!-- Filter for accepted quesitons -->
      <mat-checkbox #solvedChecked color="primary">
        Frage als 'geklärt' gekennzeichnet?
      </mat-checkbox>

      <!-- Confirm button -->
      <div style="margin-bottom: 9px; margin-left: 5px; margin-top: 15px">
        <button
          (click)="
            onFilterSelected(contentSelection.value, searchInput.value, solvedChecked.checked)
          "
          mat-raised-button
        >
          Wählen
        </button>
      </div>
    </div>
  </div>
</div>
