
<div *ngIf="activeNode.selectedElementsIDs && activeNode.selectedElementsIDs.length > 0" class =" content mat-elevation-z8">
<h1>Content-Overview</h1>

active Node: {{activeNodeTestDisplay}}

<mat-tab-group animationDuration="0ms">
  <mat-tab label="Content">
    <app-content [activeNode]="activeNode"></app-content> <!--Communication to Child-Component-->
  </mat-tab>

  <mat-tab label="Aufgaben">
    Content 2
  </mat-tab>

  <mat-tab label="Kompetenzen">
    Content 3
  </mat-tab>

  <mat-tab label="Diskussion">
    <app-discussion [activeNode]="activeNode"></app-discussion>
  </mat-tab>
</mat-tab-group>

</div>

