<div class="container" *ngIf="!isLoading && fillinQuestionData">
    <div class="close-button">
        <button mat-icon-button (click)="onClose()">
            <mat-icon>close</mat-icon>
        </button>
  </div>
  <div class="header">
    <h2>{{fillinQuestionData.question.name}}</h2>
  </div>

  <div class="question-container">
    {{ fillinQuestionData.question.text || 'Fülle die Lücken aus!' }}
  </div>

  <div class="content-area">
    <div [innerHTML]="processedContent"></div>
  </div>

  <div
    *ngIf="fillinQuestionData.taskType === fillinTypes.FillinDrag"
    cdkDropList id="drag-drop-global-list"
    cdkDropListOrientation="horizontal"
    class="drag-list"
    [cdkDropListConnectedTo]="gapIds"
    [cdkDropListData]="possibleAnswers"
    (cdkDropListDropped)="drop($event)"
    >
    <div cdkDrag class="drag-item"  *ngFor="let item of possibleAnswers; let i = index">
      <div class="custom-placeholder" *cdkDragPlaceholder></div>
      <div class="drag-item-content" [innerHTML]="item"></div>
    </div>
  </div>

  <div class="submit-container">
    <!-- <button mat-raised-button style="margin-bottom: 10px;" color="secondary" (click)="onLog()">Log</button> -->
    <button [disabled]="submitDisabled || isSending" mat-raised-button color="primary" (click)="onSubmitTask()">
      {{ isSending ? 'Wird abgegeben...' : 'Antworten' }}
    </button>
    <!-- <button *ngIf="submitDisabled && !isCorrect" mat-raised-button color="accent" (click)="onRetry()">
      Erneut versuchen
    </button> -->
    <!-- <button *ngIf="submitDisabled && isCorrect"  mat-flat-button color="accent" (click)="onClose()">
      Schließen
    </button> -->
  </div>

  <div class="feedback-container" *ngIf="feedbackText" [ngStyle]="{'background-color': feedbackColor}">
    <h3>Feedback</h3>
    <p [innerHTML]="feedbackText.feedbackText"></p>
  </div>

<div class="loading" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
  <p>Lade Aufgabe...</p>
</div>
