.notification-snackbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: rgb(57, 57, 57);
  color: white;
  border-radius: 4px;
  padding: 8px;
  button {
    color: white;
  }
}
