<mat-dialog-content style = " background-color: #4C566A; scrollbar-width: thin">
  <div class="chat-container">
    <div>
    <div *ngFor="let message of messages" class="chat-message" [class.user]="!message.isBot" [class.bot]="message.isBot">
      <div [innerHTML]="message.question"></div>
    </div>
  </div>
    <div class="chat-input">
      <mat-form-field class="input-field" appearance="fill" (keydown.enter)="askQuestion()">
        <mat-label>Befrage das Skript</mat-label>
        <input matInput [(ngModel)]="question">
      </mat-form-field>
      <button mat-raised-button style="font-size:24px; height:52px" color="primary" (click)="askQuestion()">Ask</button>
    </div>
  </div>
</mat-dialog-content>
