$orange: #FF893B;
$black: #3b4252;
$blue: #d8dee9;
$light_blue: #C4DCDF;
$white: #eceff4;

.chat-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.collapsible-chat {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 85%;
  position: fixed;
  top: 5%;
  right: 4%;
  border-radius: 8px;
  z-index: 1000;

  .chat-header {
    align-items: center;
    background-color: $black;
    color: $white;
    border-radius: 8px;
    padding: 1%;
    position: relative;

    .chat-icon {}

    .chat-title {
      font-size: 1rem;
      font-weight: 500;
      margin-bottom: 0px !important;
    }

    .chat-subtitle {
      color: $white;
      margin-bottom: 0px;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 4px;

      .status-icon {
        background-color: greenyellow;
        border-radius: 50%;
        width: 8px;
        height: 8px;
      }
    }

    .close-button {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      color: $white;
      background-color: transparent;
      border: none;
      cursor: pointer;

      mat-icon {
        font-size: 20px;
      }

      &:hover {
        color: $orange;
      }
    }
  }

  .chat-content {
    flex: 1 1 85%;
    overflow: auto;
    margin: 2%;
    margin-bottom: 50px;

    .messages {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }

  .chat-actions {
    flex: 0 1 15%;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .chat-form {
      width: 90%;
      height: 60%;
      margin-bottom: 5%;
      border-radius: 20px;
    }

    .chat-input {
      height: 50px;
      min-height: 50px;
      font-size: 14px;
      overflow-y: hidden;
      color: $black;
    }

    .send-button {
      color: $black;

      .send-icon {
        font-size: 20px;
      }
    }
  }
}

.message {
  display: flex;
  flex-direction: column;
  padding: 6px 10px;
  border-radius: 12px;
  min-height: 36px;
  max-width: 100%;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 12px;
  word-break: break-word;
  word-wrap: break-word;
  hyphens: auto;

  &.bot {
    background-color: $blue;
    color: #2e3440;
    border-top-left-radius: 0px;
    margin-right: 0;
    margin-left: 0;
    width: 100%;
  }

  &.user {
    background-color: $white;
    color: #4c566a;
    border-top-right-radius: 0px;
    margin-left: auto;
    margin-right: 0;
    max-width: 40%;
  }

  &.loading {
    background-color: $blue;
    color: $white;
    border-top-left-radius: 0px;
    margin-right: auto;
    margin-left: 0;
    max-width: 40%;
  }

  &.loading:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: loading-message steps(4, end) 1500ms infinite;
    animation: loading-message steps(4, end) 1500ms infinite;
    content: "\2026";
    width: 0px;
    font-size: 20px;
    color: $white;

    @keyframes loading-message {
      to {
        width: 18px;
      }
    }

    @-webkit-keyframes loading-message {
      to {
        width: 18px;
      }
    }
  }

  .rating-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;

    .rating-question {
      margin-right: 10px;
      font-size: 1em;
      color: #4c566a;
    }

    .rating-buttons {
      display: flex;

      button {
        background-color: transparent;
        border: none;
        cursor: pointer;

        mat-icon {
          font-size: 25x;
          color: #4c566a;
        }

        &.selected-rating {
          mat-icon {
            color: #a3be8c; // Gold color
          }
        }
      }
    }
  }
}

.mdc-notched-outline--no-label {
  border-color: $blue;
}

@media only screen and (max-width: 1000px) {
  [class*="collapsible-chat"] {
    width: 80%;
  }
}
