
.outer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1rem;
}

.logo-container img {
  max-width: 100%;
  max-height: 100%;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 90%;
  padding: 20px;
  background-color: #E5E9F0;
}

.main-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-container {
  text-align: center;
  width: 100%;
}

video {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 1rem;
}



@media (min-width: 768px) {
  .outer-container {
    flex-direction: column;
    justify-content: space-around;
  }

  .logo-container img {
    max-width: 350px;
    max-height: 350px;
  }

  .login-container {
    width: auto;
    flex-direction: row;
  }

  .main-div {
    flex-direction: row;
  }

  .video-container {
    max-width: 720px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .logo-container img {
    max-width: 50%;
  }
}
