<div class="code-game-playfield-editor">
  <div class="settings" [formGroup]="codeGameForm">
    <p>Mithilfe dieses Editors kann ein eigenes Spielfeld erstellt werden.
      Das Layout des Spielfelds kann durch Klicken auf die Zellen verändert werden.
      Die Zellen können mit Hindernissen, Gegenständen (zum Aufsammeln), dem Spieler und dem Ziel belegt werden.
      Zudem können Zellen auf eine Blacklist oder Whitelist gesetzt werden. Abhänigig davon ob eine Zelle
      nicht besucht werden darf oder besicht werden kann.Ein Objekt kann mehrfach platziert werden, dazu das 
      Objekt im Dropdown auswählen und die Zelle anklicken.
    </p>
    <mat-divider></mat-divider>
    <p>Wähle ein Theme für das Spielfeld:</p>
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Theme</mat-label>
        <!-- Used without form control to avoid reset all values of the game when changing the theme -->
        <mat-select [(value)]="theme" required (selectionChange)="onThemeChange($event.value)">
          <mat-option value="dino">Dino</mat-option>
          <mat-option value="dragon">Drache</mat-option>
          <mat-option value="dino_special">Dino Special</mat-option>
        </mat-select>
    </mat-form-field>

<!--    Since bigger fields do not look got, the size is restricted to 10 -->
<!--    <p>Setze die Anzahl der Reihen und Spalten:</p>-->
<!--    <mat-form-field appearance="outline" class="form-field">-->
<!--      <mat-label>Reihen und Spalten</mat-label>-->
<!--      <input matInput type="number" formControlName="rowsAndColumns" required min="10" max="10"> &lt;!&ndash ;-->
<!--    </mat-form-field>-->

    <p>Wähle ein Objekt aus, um es mehrfach zu platzieren:</p>
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Objekt</mat-label>
      <mat-select [(value)]="multiselect">
        <mat-option value="">Kein Objekt</mat-option>
        <mat-option value="O">
          <div style="display: flex; align-items: center; gap: 8px;">
            <img *ngIf="getObjectImage(null, null,'O')" [src]="getObjectImage(null, null,'O')" alt="objectImage" style="width: 32px; height: 32px;" />
            <span>Hindernis</span>
          </div>
        </mat-option>
        <mat-option value="I">
          <div style="display: flex; align-items: center; gap: 8px;">
            <img *ngIf="getObjectImage(null, null,'I')" [src]="getObjectImage(null, null,'I')" alt="objectImage" style="width: 32px; height: 32px;" />
            <span>Gegenstand</span>
          </div>
        </mat-option>
        <mat-option value="P">
          <div style="display: flex; align-items: center; gap: 8px;">
            <img *ngIf="getObjectImage(null, null,'P')" [src]="getObjectImage(null, null,'P')" alt="objectImage" style="width: 32px; height: 32px;" />
            <span>Spieler</span>
          </div>
        </mat-option>
        <mat-option value="D">
          <div style="display: flex; align-items: center; gap: 8px;">
            <img *ngIf="getObjectImage(null, null,'D')" [src]="getObjectImage(null, null,'D')" alt="objectImage" style="width: 32px; height: 32px;" />
            <span>Ziel</span>
          </div>
        </mat-option>
        <mat-option value="#">
          <div style="display: flex; align-items: center; gap: 8px;">
            <span>Entfernen</span>
          </div>
        </mat-option>
        <mat-divider></mat-divider>
        <mat-option value="B">
          <div style="display: flex; align-items: center; gap: 8px;">
            <span>Black-List</span>
          </div>
        </mat-option>
        <mat-option value="W">
          <div style="display: flex; align-items: center; gap: 8px;">
            <span>White-List</span>
          </div>
        </mat-option>
        <mat-option value=".">
          <div style="display: flex; align-items: center; gap: 8px;">
            <span>Entfernen</span>
          </div>
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="playfield" [style.--rows]="codeGameForm.value.rowsAndColumns" [style.--columns]="codeGameForm.value.rowsAndColumns">
    <div *ngFor="let row of gameField; let i = index" class="row">
      <div *ngFor="let cell of row; let j = index"
           class="cell"
           (click)="onClick($event, i, j)"
           [matMenuTriggerFor]="isMenuDisabled() ? null : menu">
        <div class="overlay" [ngClass]="{'black-list': gameCellRestrictions[i][j] === 'B', 'white-list': gameCellRestrictions[i][j] === 'W'}"></div>
        <img [src]="getFloorImage()" alt="floorImage" class="floorImage" />
        <img *ngIf="getObjectImage(i, j, null)" [src]="getObjectImage(i, j, null)" alt="objectImage" class="objectImage" />
      </div>
    </div>
  </div>

  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="setObject('O')" class="menu-item">
      <mat-icon class="menu-icon" svgIcon>
        <img *ngIf="getObjectImage(null, null,'O')" [src]="getObjectImage(null, null,'O')" alt="objectImage" />
      </mat-icon>
      <span>Hindernis</span>
    </button>
    <button mat-menu-item (click)="setObject('I')" class="menu-item">
      <mat-icon class="menu-icon" svgIcon>
        <img *ngIf="getObjectImage(null, null,'I')" [src]="getObjectImage(null, null,'I')" alt="objectImage" />
      </mat-icon>
      <span>Gegenstand</span>
    </button>
    <button mat-menu-item (click)="setObject('P')" class="menu-item">
      <mat-icon class="menu-icon" svgIcon>
        <img *ngIf="getObjectImage(null, null,'P')" [src]="getObjectImage(null, null,'P')" alt="objectImage" />
      </mat-icon>
      <span>Spieler</span>
    </button>
    <button mat-menu-item (click)="setObject('D')" class="menu-item">
      <mat-icon class="menu-icon" svgIcon>
        <img *ngIf="getObjectImage(null, null,'D')" [src]="getObjectImage(null, null,'D')" alt="objectImage" />
      </mat-icon>
      <span>Ziel</span>
    </button>
    <button mat-menu-item (click)="setObject('#')" class="menu-item">
      <span>Entfernen</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="setRestriction('B')" class="menu-item">
      <span>Black-List</span>
    </button>
    <button mat-menu-item (click)="setRestriction('W')" class="menu-item">
      <span>White-List</span>
    </button>
    <button mat-menu-item (click)="setRestriction('.')" class="menu-item">
      <span>Entfernen</span>
    </button>
  </mat-menu>
</div>
