/* self hostet fonts and icons*/
@import 'styles/roboto.scss';
@import 'styles/material-icons.scss';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@media print {
    #printContainer > .printedPage {
      width: 99%;
    }
  }

.discussionDialog {
  max-height: 95vh;
  overflow: auto;
}

// workaround preventing a angular-tailwind bug that summons a blue vertical line on activated mat-form-field elements with appearance="outline"
.mdc-notched-outline__notch {
  border-right: none !important;
}
