<div class="content">
  <h2 mat-dialog-title>Beschreibung der Aufgabe "{{ taskTitle }}":</h2>
  <div mat-dialog-content>
    <app-tinymce
      [content]="taskDescription"
      [tinymceConfig]="tinyMceConfig"
      #tinyMceEditor
    ></app-tinymce>
  </div>
  <div mat-dialog-actions style="justify-content: flex-end">
    <button mat-flat-button color="accent" (click)="onCancel()">Abbrechen</button>
    <button
      mat-flat-button
      color="primary"
      (click)="onAccept(tinyMceEditor)"
      [mat-dialog-close]="data.description"
      cdkFocusInitial
    >
      Speichern
    </button>
  </div>
</div>
