.mat-elevation-z8 {
  background: #fcfcfc;
  color: black;
}

.question-box {
  height: 20h;
  max-height: 70vh;
  padding:10px;

  font-size: 14px;
  border-radius: 10px;

  border: 1px solid #c9c9c9;
  background-color: #ffffff;
  box-shadow: 0 0 5px #ccc;
}

.question-box:hover {
  box-shadow: 0 0 5px #aaa;
  border: 1px solid #868686;
  cursor: pointer;
}
