<div *ngIf="discussionData.id != -1 && initiatorMessage.messageId != -1" class="main-container">
  <div style="max-width: 1000px;">
    <div class="content mat-elevation-z8">
      <h1>{{discussionData.title}}</h1>
      <app-discussion-page-question
        [messageData]="initiatorMessage"
        [conceptNodeName]="conceptNodeName"
        [discussionData]="discussionData"
        ></app-discussion-page-question>
    </div>
    <div class="content mat-elevation-z8">
      <!-- TODO: LOGIN SYSTEM. -->
      <!-- For now, the message creator is always the admin user with id=1 -->
      <app-comment-creation [userId]="1" [discussionId]="discussionData.id"></app-comment-creation>
    </div>
    <div class="content mat-elevation-z8">
      <h1>Antworten</h1>
      <app-discussion-page-comment
        *ngFor="let message of messagesData.messages" [messageData]="message"></app-discussion-page-comment>
    </div>
  </div>
</div>



