.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  flex-wrap: wrap;
}

.content {
  width: 1000px;
  padding:16px;

  contain: content;
  scrollbar-width: thin;

  font-size: 14px;
  border-radius: 10px;
  background: #eceff4;
  color: black;
}

.vbox {
  min-height: 100px;
  padding: 16px;

  display: flex;
  flex-direction: column; /* Anordnung der Elemente vertikal */
  justify-content: space-between;

  border-radius: 10px;
  background: #ffffff;
}

.hbox {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 16px;

}



