<div class="content mat-elevation-z8 container wrapper"  style="margin: 0 auto; max-width: 90%;">
  <form [formGroup]="taskForm" (ngSubmit)="onSubmit()" class="task-form">
    <section class="section">
      <mat-form-field class="full-width-input">
        <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
          formControlName="text" [placeholder]="fetchingTitle ? 'Fetching...' : 'Title...'" formControlName="title">
        </textarea>
        <button type="button" *ngIf="!taskForm.get('title')?.value" matSuffix mat-icon-button aria-label="Clear" (click)="generateTitle()">
        <mat-icon>
          sync
        </mat-icon>
      </button>
        <button type="button" *ngIf="taskForm.get('title')?.value" matSuffix mat-icon-button aria-label="Clear" (click)="clearTitle()"
          type="button">
          <mat-icon>close</mat-icon>
        </button>
        <mat-error *ngIf="taskForm.controls['title'].invalid">
          Title is required
        </mat-error>
      </mat-form-field>
      <mat-form-field class="half-width-input">
        <input matInput type="number" formControlName="numberOfOptions" required="false"
          placeholder="Number of Options..">
        <mat-error *ngIf="taskForm.controls['numberOfOptions'].invalid" align="start">
          At least 2 options are required
        </mat-error>
      </mat-form-field>
      <mat-form-field class="corner">
        <input type="text" placeholder="Concepts" matInput formControlName="conceptName" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let concept of filteredConcepts | async" [value]="concept">
            {{concept}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </section>
    <mat-divider class="divider"></mat-divider>
    <div formArrayName="options" class="options-container">
      <ng-container *ngFor="let option of getOptions().controls; let i = index">
        <!-- Start a new row for every even index -->
        <div class="option-pair" *ngIf="i % 2 === 0">
          <div class="option-group" [formGroupName]="i">
            <!-- ... Option fields ... -->
            <mat-form-field>
              <textarea class="textarea" matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="1" formControlName="text" required="false"
                [placeholder]="fetchingStates[i] ? 'Fetching...' :placeholder+(i+1)">
              </textarea>
              <button *ngIf="getOptions().at(i).get('text')?.value" matSuffix mat-icon-button aria-label="Clear"
                type="button" (click)="clearOption(i)">
                <mat-icon>close</mat-icon>
              </button>
              <mat-error *ngIf="taskForm.controls['options'].invalid" align="end">
                Option must be set
              </mat-error>
            </mat-form-field>
            <div class="buttons">
              <mat-checkbox formControlName="isCorrect">Correct</mat-checkbox>
              <button mat-raised-button color="primary" type="button" (click)="generateOption(i)">{{getButtonLabel(i)}}
              </button>
            </div>
          </div>
          <!-- Option at index i + 1 (if it exists) -->
          <div *ngIf="getOptions().at(i + 1)" [formGroupName]="i+1" class="option-group">
            <!-- ... Option fields ... -->
            <mat-form-field>
              <!-- <input matInput formControlName="text" required="false"> -->
              <textarea class="textarea" matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="1" formControlName="text" required="false"
                [placeholder]="fetchingStates[i+1] ? 'Fetching...' :placeholder+(i+2)">
                </textarea>
              <button *ngIf="getOptions().at(i+1).get('text')?.value" matSuffix mat-icon-button aria-label="Clear"
                (click)="clearOption(i+1)" type="button">
                <mat-icon>close</mat-icon>
              </button>
              <mat-error *ngIf="taskForm.controls['options'].invalid" align="end">
                Option must be set
              </mat-error>
            </mat-form-field>
            <div class="buttons">
              <mat-checkbox formControlName="isCorrect">Correct</mat-checkbox>
              <button mat-raised-button color="primary" (click)="generateOption(i+1)"
                type="button">{{getButtonLabel(i+1)}}
              </button>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <mat-divider class="divider"></mat-divider>
    <p></p>
    <div class="buttons">
      <button mat-raised-button color="primary" type="submit" [disabled]="taskForm.invalid">Submit
      </button>
      <button mat-raised-button type="button" (click)="openDescripDialog()"
        [color]="checkDescription() ? 'primary': 'warn'">{{checkDescription() ? 'Edit Description' :'Add Description'}}
      </button>
      <button mat-raised-button [color]="checkScore() ? 'primary' : 'warn'" type="button"
        (click)="openDialog()">{{checkScore() ? 'Edit Score' : 'Set Score'}}
      </button>
      <button mat-raised-button color="primary" type="button" (click)="generate()">
        Generate All
      </button>
      <button mat-raised-button color="primary" type="button" (click)="clearAllFields()">
        Clear All </button>
      <mat-checkbox (change)="onCheckboxChange($event)" [disabled]="mcDisabled"
        [checked]="getCorrectOptionsCount() >= 2">Multiple Choice</mat-checkbox>
    </div>
  </form>
</div>
<mat-divider></mat-divider>


