<!-- SelfAssessment-Mode -> Show correct answers after submit
- dunkelgrün -> ausgewählt+richtig
- rot -> ausgewählt+falsch
- hellgrünnicht -> ausgewählt+richtig

<div *ngIf="isSelfAssessment" class="content mat-elevation-z8">
  <h2 class="question-text">{{questionData.text}}</h2>
  <div *ngIf="mcQuestion.isSC">
    <mat-selection-list [(ngModel)]="selectedOptions" [multiple]="false" (selectionChange)="onSelectionChange()">
      <mat-list-option *ngFor="let option of options" [disabled]="submitDisabled" [value]="option.id" [ngClass]="{'selected' : option.selected, 'selectedCorrect' : option.selected && submitDisabled && option.correct}" [selected]="option.selected">{{option.text}}</mat-list-option>
    </mat-selection-list>
  </div>

  <div *ngIf="!mcQuestion.isSC">
    <mat-selection-list [(ngModel)]="selectedOptions" [multiple]="true" (selectionChange)="onSelectionChange()">
      <mat-list-option *ngFor="let option of options"
        [disabled]="submitDisabled"
        [value]="option.id"
        [ngClass]="{
          'selected' : option.selected,
          'selectedCorrect' : option.selected && submitDisabled && option.correct,
          'selectedIncorrect' : option.selected && submitDisabled && !option.correct,
          'correctNotSelected' : !option.selected && submitDisabled && option.correct,
        }"
        [selected]="option.selected">{{option.text}}
      </mat-list-option>
    </mat-selection-list>
  </div>

  <div class="submit">
    <button mat-flat-button color="accent" (click)="onSubmit()" [disabled]="submitDisabled">
      <mat-icon>submit</mat-icon>
      Antworten
    </button>
  </div>
</div>
-->

<!-- Formative Assessment-Mode -> Do not show correct answers after submit -->
<div *ngIf="!isSelfAssessment && dataLoaded" class="content mat-elevation-z8">
  <!--<app-tinymce [config]="editorConfig" [content]="questionData.text"></app-tinymce>-->
  <h2 class="question-text"><div [innerHTML]="questionData.text"></div></h2>
  <h3 class="max-points">Maximale Punktzahl: {{questionData.score}}</h3>
  <div *ngIf="mcQuestion.isSC">
    <mat-selection-list [(ngModel)]="selectedOptions" [multiple]="false" (selectionChange)="onSelectionChange()">
      <mat-list-option  *ngFor="let option of options" [disabled]="submitDisabled" [value]="option.id" [ngClass]="{'selected' : option.selected}" [selected]="option.selected">
        <div class="questionSpan">
          <span [innerHTML]="option.text" style="white-space: normal; word-wrap: break-word;"></span>
        </div>
      </mat-list-option>
    </mat-selection-list>
  </div>

  <div *ngIf="!mcQuestion.isSC">
    <mat-selection-list [(ngModel)]="selectedOptions" [multiple]="true" (selectionChange)="onSelectionChange()">
      <mat-list-option  *ngFor="let option of options" [disabled]="submitDisabled" [value]="option.id" [ngClass]="{'selected' : option.selected}" [selected]="option.selected">
        <div class="questionSpan">
          <span [innerHTML]="option.text" style="white-space: normal; word-wrap: break-word;"></span>
        </div>
      </mat-list-option>
    </mat-selection-list>
  </div>

  <div class="submit">
    <button *ngIf="!submitDisabled" mat-flat-button color="accent" (click)="onSubmit()" [disabled]="submitDisabled">
      <mat-icon>submit</mat-icon>
      Antworten
    </button>
    <button *ngIf="submitDisabled && !checkCorrect()" mat-flat-button color="accent" (click)="retry()">
      <mat-icon>refresh</mat-icon>
      Aufgabe erneut versuchen
    </button>
    <button *ngIf="submitDisabled && checkCorrect()" mat-flat-button color="accent" (click) ="onClose()">
      Schließen
    </button>
  </div>
</div>

<!-- Show feedback for this attempt -->
<div *ngIf="submitDisabled" class="content feedback mat-elevation-z8" [ngStyle]="{'background-color': getFeedbackColor()}">
  <h2>Feedback</h2>
  <p>Score: {{feedback.score}} von {{questionData.score}} Punkten</p>
  <p>{{feedback.feedbackText}}</p>
</div>

<!-- Show the feedback of the latest attempt
<div class="content mat-elevation-z8">
  <h2>Feedback des letzten Versuchs</h2>
  <div>
    <p>Score: 1 von 2 Punkten</p>
    <p>Das ist ein Dummy-Feedback für den letzten Versuch.</p>
  </div>
</div>
-->
