.question-text {
    /*display: flex;*/
    place-content: center;
    margin-top: 1%;
    margin-left: 1%
}

.list-container {
    display: inline flow-root list-item;
    height: auto;
    width: auto;
  }

.selected {
    background-color: #ffb700; /* Hintergrundfarbe für ausgewählte Elemente */
    font-weight: bold; /* Fettdruck für ausgewählte Elemente */
  }

.selectedCorrect {
  /* border: solid 3px green; */
  background: green;
  font-weight: bold;
}

.selectedIncorrect {
  border: solid 3px red;
  /*background-color: red;*/
  font-weight: bold;
}

.correctNotSelected {
  border: solid 3px red;
}

.incorrectNotSelected {
  border: solid 3px green;
}

.mat-elevation-z8 {
    background: #eceff4;
    color: black;
  }

  .content {
    height: auto;
    width: auto;
    margin: 16px;
    padding: 16px;
    position: relative;
    contain: content;
    overflow-y: hidden;
    scrollbar-width: thin;

    font-size: 14px;
    border-radius: 10px;
  }

  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 100;
  }

  .submit {
    display: flex;
    flex-direction: column;
  }

  .feedback {
    background-color: #ffb700;
  }

  .mat-list-option {
    margin-bottom: 10px;
  }


  .mdc-list-item__content {
    margin: 5px;
  }


  @media screen and (max-width: 600px) {
    mat-selection-list {
      display: inline flow-root list-item;
    }

    .mdc-list-item.mdc-list-item--with-one-line {
      height: fit-content;
    }

    .questionSpan {
      font-size: 12px;
      padding: 5px;
    }

    .question-text {
      font-size: 14px;
    }

    .max-points {
      margin-left: 4px;
      font-size: 13px;
    }

}

