<div class="notification-bell" #notificationBell>
  <button mat-icon-button [matBadge]="(unreadCount$ | async)" matBadgeOverlap="true" matBadgeColor="warn" (click)="toggleNotifications()">
    <mat-icon>notifications</mat-icon>
  </button>
  <div class="notifications-panel" *ngIf="showNotifications" (scroll)="onScroll($event)">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let notification of allNotifications"
                            #panel
                            appNotificationStyle
                            [notification]="notification">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span class="notification-date">{{ formatTimeStamp(notification.timestamp) }}</span>
            <span class="notification-title">{{ getNotificationTitle(notification.type!) }}</span>
          </mat-panel-title>
          <mat-panel-description>
            <!-- <span class="notification-date">{{ formatTimeStamp(notification.timestamp) }}</span> -->
            <span *ngIf="!notification.isRead" class="notification-status">New</span>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>{{ notification.message+ " at: " + formatTimeStamp(notification.timestamp)}} </p>
        <div class= "buttons">
        <button mat-raised-button color="primary" (click)="onClick(notification)">Anzeigen</button>
        <button mat-raised-button color="accent" (click)="markAsRead(notification, panel)" [disabled]="notification.isRead"  >als gelesen markieren</button>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
