<div class="notification-bell" #notificationBell>
  <button mat-icon-button [matBadge]="(unreadCount$ | async)" matBadgeOverlap="true" (click)="toggleNotifications()">
    <mat-icon>notifications</mat-icon>
  </button>
  <div class="notifications-panel"
      *ngIf="showNotifications"
      (scroll)="onScroll($event)">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let notification of allNotifications"
                            #panel
                            appNotificationStyle
                            [notification]="notification">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span class="notification-date">{{ notification.formattedTimestampTitle }}</span>
            <span class="notification-title">{{ notification.title }}</span>
          </mat-panel-title>
          <mat-panel-description>
            <span *ngIf="!notification.isRead" class="notification-status">New</span>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>{{ notification.message }}</p>
        <mat-divider class="divider"></mat-divider>
        <p>{{ notification.formattedTimestamp }}</p>
        <div class="buttons">
          <button mat-raised-button color="primary" (click)="onClick(notification, panel, 'view')">Anzeigen</button>
          <button mat-raised-button color="accent" (click)="onClick(notification, panel, 'read')" [disabled]="notification.isRead">als gelesen markieren</button>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
