<h1 mat-dialog-title>Bewertungs-Übersicht</h1>
<div mat-dialog-content>
  <p>Hier siehst du die Abgaben von anderen Studierenden, die du bewerten sollst. Wähle eine Abgabe aus, um mit der Bewertung zu beginnen.</p>
  <p>Question ID: {{ taskViewData.id }}</p>

  <table mat-table [dataSource]="statuses" class="mat-elevation-z8">

    <!-- Submission Identifier Column -->
    <ng-container matColumnDef="submissionIdentifier">
      <th mat-header-cell *matHeaderCellDef> Abgabe </th>
      <td mat-cell *matCellDef="let element"> {{element.submissionIdentifier}} </td>
    </ng-container>

    <!-- Review Phase Column -->
    <ng-container matColumnDef="reviewPhase">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element"> {{element.reviewPhase}} </td>
    </ng-container>

    <!-- User Status Column -->
    <ng-container matColumnDef="userStatus">
      <th mat-header-cell *matHeaderCellDef> Dein Fortschritt </th>
      <td mat-cell *matCellDef="let element"> {{element.userStatus}} </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Aktion </th>
      <td mat-cell *matCellDef="let element">
        <button mat-stroked-button color="primary" (click)="onGoToReview(element)">Zur Abgabe</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onClose()">Schließen</button>
</div>
