<div class="question-box">
  <div class="question-row">
    <div style="padding-left: 10px; padding-top: 14px">
      <app-vote-box [messageId]="1" [isSolution]="questionData.solved"></app-vote-box>
    </div>

    <div class="vertical-line"></div>

    <div class="vertical-container">
      <div>
        <div class="question-row">
          <mat-icon>account_circle</mat-icon>
          <p>Beitrag von {{questionData.username}}</p>
          <p>•</p>
          <p>{{questionData.date}}</p>
          <p>•</p>
          <p>{{questionData.contentNodeName}}</p>
          <p>•</p>
          <p>Verbundene Inhalte: {{questionData.tags}}</p>
        </div>
        <h1>{{ questionData.title }}</h1>
        <p>{{questionData.text}}</p>
      </div>
      <p>{{questionData.commentCount}} Kommentare</p>
    </div>
  </div>
</div>
