// sprotty styles
//nord colors
$concept-header-color: #3b4252;
$concept-background-color: #d8dee9;

$mini-concept-background: #3b4252;

$leaf-concept-color: darken(#5e81ac,10%);
$leaf-concept-border: #3b4252;

$title-text-color: #eceff4;

$edge-color: #2e3440;

$progress-goal: #e9dbc0;
$progress-achieved: #88bb21;

$highlight-color: #8fbcbb;
$dark-highlight-color: #5e81ac;

.sprotty-graph {
    width: 100%;
    height: 47vh;
    font-size: 15pt;
}

.sprotty-edge {
    fill: none;
    stroke: $edge-color;
    stroke-width: 4px;
}

.sprotty-node.concept {
    fill: $concept-background-color;//#d8d9e2;
    stroke: $concept-header-color;//#2b356e;
    stroke-width: 3;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 1));
}

.sprotty-node.leaf-concept {
    fill: $leaf-concept-color;//#2b356e;
    stroke: $leaf-concept-border;//#2b356e;
    stroke-width: 2;
    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 1));
}

.sprotty-node.mini-concept {
    fill: $mini-concept-background;//#2b356e;
    stroke: #3b4252;//#2b356e;
    stroke-width: 2;
}

.sprotty-concept-header {
    fill: #3b4252//#2b356e
}

// text {
//     stroke-width: 0;
//     stroke: #000;
//     fill: #000;
//     font-family: sans-serif;
//     font-size: 12pt;
//     text-anchor: middle;
// }

.sprotty-node {
    stroke-width: 0;
    font-weight: bold;
}

.sprotty-button {
    fill: #fff;
    stroke-width: 1;
    cursor: pointer;
}

.sprotty-node.selected {
    stroke-width: 4;
    stroke: $highlight-color;
    //filter: drop-shadow(0px 0px 8px #2b356e);
}

.sprotty-node.mouseover:not(.selected) {
    stroke-width: 4;

}

.sprotty-label {
    stroke-width: 0;
    fill: #000000;
    font-weight: inherit;
    text-align: inherit;
    font-size: 100%;
}

.sprotty-label.heading {
    font-weight: bold;
    fill: #eceff4;
    //display: inline-block;
    //width: 100%;
}

.sprotty-edge.selected {
    stroke: $highlight-color;
    stroke-width: 4px;
}

.sprotty-edge.mouseover:not(.selected) {
    stroke-width: 3px;
}

.sprotty-missing {
    stroke-width: 1;
    stroke: #f00;
    fill: #f00;
    font-size: 14pt;
    text-anchor: middle;
}

.sprotty-popup-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.sprotty-popup-body > p {
    margin-bottom: 2px;
}

.class-context-menu {
    background-color: #dee2e6;
    display: flex;
    flex-direction: column;
    position: fixed;
    border: 1px solid #adb5bd;
    border-radius: 3px;
    padding: 1px;
    color:#000
}

.class-context-menu-item {
    background-color: #dee2e6;
    padding: 2px;
    padding-left: 15px;
    padding-right: 15px;
    min-width: 100px;
    font-family: sans-serif;
    cursor: default;
}

.class-context-menu-item.disabled-action {
    color: darkgray;
}

.class-context-menu-item:empty {
    padding: 0px;
    border-bottom: 1.5px solid #adb5bd;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.class-context-menu-item:hover:not(.disabled-action) {
    color: $dark-highlight-color;
}


.sprotty-progress-bar-segment{
    stroke: none;
}

.sprotty-progress-bar-segment.achieved {
    fill: $progress-achieved; /* Color for achieved segments */

}

.sprotty-progress-bar-segment.goal {
    fill: $progress-goal; /* Color for goal segments */
}

.sprotty-progress-bar-segment.leaf {
    stroke-width: 2; // Border width
    stroke: $leaf-concept-border;
}

.sprotty-progress-bar-border {
    stroke-width: 1; // Border width
    stroke: $concept-header-color;
    stroke-width: 2;
    fill: none;
}

.sprotty-hidden {
  position: fixed;
}
