<div class="file-explorer">
  <div class="explorer-header">
    <span class="section-title">EXPLORER</span>
    <div class="actions">
      <button mat-icon-button class="add-button" (click)="createNewFile($event)" aria-label="Neue Datei">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>

  <!-- Projektname als Root-Element -->
  <div class="project-root" *ngIf="projectRoot">
    <div class="folder-header expanded">
      <mat-icon class="folder-icon">folder_open</mat-icon>
      <span class="folder-name">{{ projectRoot }}</span>
    </div>
  </div>

  <!-- Rekursive Anzeige des Dateibaums -->
  <div class="file-tree">
    <ng-container *ngFor="let item of fileTree">
      <ng-container *ngTemplateOutlet="fileSystemItem; context: { $implicit: item }"></ng-container>
    </ng-container>
  </div>
</div>

<!-- Template für Dateisystem-Elemente (Ordner oder Datei) -->
<ng-template #fileSystemItem let-item>
  <div *ngIf="isFolder(item)" class="folder-item">
    <div class="folder-header" [class.expanded]="item.isExpanded" (click)="toggleFolder(item)">
      <mat-icon class="folder-icon">{{ item.isExpanded ? 'folder_open' : 'folder' }}</mat-icon>
      <span class="folder-name">{{ item.name }}</span>
    </div>
    <div class="folder-content" *ngIf="item.isExpanded">
      <div class="folder-items" *ngFor="let childItem of item.children" [style.padding-left.px]="16">
        <ng-container *ngTemplateOutlet="fileSystemItem; context: { $implicit: childItem }"></ng-container>
      </div>
    </div>
  </div>

  <div *ngIf="!isFolder(item)" class="file-item" (click)="openFile(item.id)">
    <div class="icon-container">
      <div class="file-icon" [ngClass]="getFileClass(item.name)"></div>
    </div>
    <span class="file-name" [class.modified]="item.isModified">{{ item.name }}</span>
  </div>
</ng-template>
