/*
Ipad notices
- Brave and Firefox do not render underneath the safe area
- Chrome and Safari do render underneath the safe area, but are additionally sending the safe-area-inset values
 */

.toolbar-item-spacer {
  flex: 1 1 auto;
}

.app-container {
  height:calc(100vh - 30px); /* our toolbar height: 30px */

  /* Safari-specific styles */
  @supports (-webkit-touch-callout:none) {
    // for ipads brave and firefox we can use 100% while for chrome and safari we need to subtract the safe-area-inset values
    height: calc(100% - env(safe-area-inset-top) - env(safe-area-inset-bottom));
  }
}

.tablet-space {
  @supports (-webkit-touch-callout:none) {
    height: 30px; //footer-height
  }
}

.app-sidenav {
  width: 230px;
}

.app-sidenav-content {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.mat-divider {
  margin-top:16px;
  margin-bottom: 16px;
  background-color: lightgrey;
}


.footer {
  z-index: 1000;
  height: 30px; /* Reduzierte Höhe */
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 10px; /* Reduzierte Schriftgröße */
  color: #434c5e;
  padding: 0 10px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;

  /* Safari-specific styles */
  @supports (-webkit-hyphens:none) {
    // important only for ipads safari
    bottom: env(safe-area-inset-bottom);
  }
}

.left-content, .center-content, .right-content {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.center-content {
  justify-content: center;
  gap: 8px; /* Etwas kleinerer Abstand zwischen den Elementen */
}

.divider {
  height: 15px; /* Reduzierte Höhe für visuelle Trennzeichen */
  background-color: lightgrey;
}

button, a {
  line-height: 1; /* Reduziert den Zeilenabstand, um die Elemente kompakter zu machen */
  padding: 0 5px; /* Reduziertes Padding für Buttons und Links */
}

.mat-button {
  min-height: 0; /* Entfernt die Mindesthöhe für mat-buttons, um sie kleiner zu machen */
  height: auto; /* Ermöglicht es den Buttons, sich der kleineren Höhe anzupassen */
  padding: 0 5px; /* Reduziert das Padding für eine kompaktere Erscheinung */
}

.bell {
  margin-top: 10px;
  overflow-y: auto;
  overflow-x: auto;
}
