<h2 mat-dialog-title>ContentNode hinzufügen</h2>
<mat-dialog-content style="height: 100%">
  <mat-tab-group
    style="height: 100%"
    [selectedIndex]="activeTab === 'new' ? 0 : 1"
    (selectedTabChange)="onTabChange($event)"
  >
    <mat-tab label="Neue ContentNode">
      <form class="tab-content" [formGroup]="creationForm">
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Name der ContentNode" formControlName="name" />
          <mat-error *ngIf="creationForm.get('name')!.hasError('required')"
            >Name ist erforderlich</mat-error
          >
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Beschreibung</mat-label>
          <textarea
            matInput
            placeholder="Beschreibung der ContentNode"
            formControlName="description"
          ></textarea>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Schwierigkeit</mat-label>
          <mat-select formControlName="difficulty">
            <mat-option *ngFor="let star of [1, 2, 3, 4, 5]" [value]="star">
              Level {{ star }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="creationForm.get('difficulty')!.hasError('required')"
            >Schwierigkeitsgrad ist erforderlich</mat-error
          >
        </mat-form-field>
      </form>
    </mat-tab>
    <mat-tab label="Vorhandene ContentNode">
      <form [formGroup]="connectionForm">
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>ContentNode</mat-label>
          <mat-select formControlName="contentNodeId" (click)="onSelectClick()">
            <mat-option>
              <ngx-mat-select-search
                class="custom-mat-select"
                placeholderLabel="Suche..."
                noEntriesFoundLabel="Keine Ergebnisse gefunden"
                [formControl]="nodeFilterControl"
              ></ngx-mat-select-search>
            </mat-option>
            <mat-option *ngFor="let node of filteredNodes | async" [value]="node.id">
              {{ node.name }} (Id: {{ node.id }})
            </mat-option>
          </mat-select>
          <mat-error *ngIf="connectionForm.get('contentNodeId')!.hasError('required')"
            >ContentNode-Auswahl ist erforderlich</mat-error
          >
          <mat-hint>Wahl einer existierenden, unverlinkten ContentNode</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Schwierigkeit</mat-label>
          <mat-select formControlName="difficulty">
            <mat-option *ngFor="let star of [1, 2, 3, 4, 5]" [value]="star">
              Level {{ star }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="connectionForm.get('difficulty')!.hasError('required')"
            >Schwierigkeitsgrad ist erforderlich</mat-error
          >
        </mat-form-field>
      </form>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Abbrechen</button>
  <button mat-button (click)="onSubmit()">Erstellen</button>
</mat-dialog-actions>
