.content-container {
  display: block;
  margin-top: 8px;
  overflow-x: auto;
}

.node-progress {
  width: 35%;
  margin: auto;
  margin-left: 10px;
  margin-right: 5%;
}

.node-question {
  margin-right: 10px;
}

.content-view {
  width: fit-content;
  margin-right: 10px;
  margin-top: 2px;
}

.description {
  width: fit-content;
  margin: 4px;
}

.panel-title {
  width: fit-content;
}

.level-icon {
  margin-left: 1px;
  color: orange;
}
.level-icon-container {
    display: flex;
    flex-direction: row;
}

::ng-deep .mat-expansion-panel-header[aria-disabled=true] {
  color: rgba(0,0,0,.87);
}

.mat-table {
  width: 100%; /* Stellt sicher, dass die Tabelle die Breite ihres Containers ausfüllt */
  min-width: 600px; /* Minimale Breite der Tabelle, bevor Scrollen aktiviert wird */
}

mat-icon {
  cursor: pointer;
  overflow: visible

}
@media screen and (max-width: 1000px) {
  .content-view {
    margin-left: 10px;
  }

  .level-icon-container {
    display: flex;
    flex-direction: row;
  }

   .mat-expansion-panel-header {
    display: table-cell;
  }
  .mat-expansion-panel-description {
    font-size: 8px;
  }
}







