.video-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; // Setzen Sie die Höhe auf 100%, um den gesamten verfügbaren Platz im Dialog zu nutzen
  width: 100%;  // Setzen Sie die Breite ebenfalls auf 100%
  padding: 10px; // Optional, um einen kleinen Abstand innerhalb des Dialogs zu schaffen
}

.video-element {
  max-width: 100%; // Das Video darf die Breite des Containers nicht überschreiten
  max-height: 100%; // Das Video darf die Höhe des Containers nicht überschreiten
  width: auto; // Die Breite des Videos wird automatisch angepasst, um das Seitenverhältnis zu bewahren
  height: auto; // Die Höhe des Videos wird ebenfalls automatisch angepasst
}
