.mat-elevation-z8 {
  background: #eceff4;
}

.content {
  margin: 16px;
  margin-left: 32px;
  padding:16px;

  contain: content;
  overflow-y: hide; /* Hide vertical scrollbar because we can already move content by clicking on whitespace */
  scrollbar-width: thin;

  font-size: 14px;
  color: lightgrey;
  border-radius: 10px;
}

.graph {
  height: 20vh;
  transition: height 0.3s;
}

.graph:hover {
  height: 70vh;
}
