.mat-elevation-z8 {
  background: #eceff4;
}

.resize-handle {
  display: flex; /* Ermöglicht die Verwendung von Flexbox */
  align-items: center; /* Zentriert den Inhalt vertikal */
  justify-content: center; /* Zentriert den Inhalt horizontal */
  width: 100px; /* Setzt die Breite des Handles */
  height: 50px; /* Erhöht die Höhe, um mehr Platz für ein größeres Icon zu schaffen */
  cursor: ns-resize; /* Ändert den Mauszeiger, um die Ziehbarkeit anzuzeigen */
  position: absolute;
  bottom: -8px;
  left: 50%; /* Positioniert den Handle in der Mitte des Elternelements */
  transform: translateX(-50%); /* Zentriert den Handle genau, indem es um die Hälfte seiner Breite nach links verschoben wird */
}

.content {
  margin: 16px;
  /* margin-left: 32px; */
  padding:16px;
  contain: content;
  overflow-y: hide; /* Hide vertical scrollbar because we can already move content by clicking on whitespace */
  scrollbar-width: thin;

  font-size: 14px;
  color: lightgrey;
  border-radius: 10px;
}

.graph {
  height: 50vh;
}

.lectureview-button {
  position: fixed;
  width: 48px;
  height: 48px;
  top: 30px;
  right: 90px;
  z-index: 1000; /* Stellen Sie sicher, dass der Button über anderen Elementen liegt */
  background-color: #3f51b5; /* Farbe des Buttons */
  color: white; /* Farbe des Symbols */
}

.navigation-preference-toggle {
  display: flex;
  justify-content: flex-end;
  padding: 8px 16px;
  margin-bottom: 8px;
}
