<div class="edit-coding-container">
  <h2>Programmieraufgabe erstellen/bearbeiten</h2>
  <form [formGroup]="codingForm" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" required>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Programming Language</mat-label>
        <mat-select formControlName="programmingLanguage" required>
          <mat-option value="python">Python</mat-option>
          <mat-option value="java">Java</mat-option>
          <mat-option value="cpp">C++</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <mat-form-field appearance="outline" class="form-field full-width">
      <mat-label>Question Text</mat-label>
      <textarea matInput formControlName="text" rows="10" required></textarea>
    </mat-form-field>

    <div formArrayName="codeGerueste">
      <h3>Code-Gerüste</h3>
      <p>Diese Dateien werden den Lernenden bei Bearbeitung der Aufgabe zur Verfügung gestellt.</p>
      <mat-accordion>
        <mat-expansion-panel *ngFor="let codeGeruest of codeGeruesteControls; let i = index" [formGroupName]="i">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{codeGeruest.get('codeFileName')?.value}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-code-editor
            [code]="codeGeruest.get('code')?.value"
            [selectedLanguage]="codingForm.get('programmingLanguage')?.value"
            (codeChange)="onCodeChange($event, i, 'codeGerueste')"
          ></app-code-editor>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <div formArrayName="automatedTests">
      <h3>Unit Tests</h3>
      <p>Die Unit-Tests überprüfen die Lösungen der Lernenden auf Korrektheit.</p>
      <mat-accordion>
        <mat-expansion-panel *ngFor="let test of automatedTestsControls; let i = index" [formGroupName]="i">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{test.get('testFileName')?.value || 'Test ' + (i)}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-code-editor
            [code]="test.get('code')?.value"
            [selectedLanguage]="codingForm.get('programmingLanguage')?.value"
            (codeChange)="onCodeChange($event, i, 'automatedTests')"
          ></app-code-editor>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <div class="form-actions">
      <button mat-raised-button color="primary" type="submit">Save Changes</button>
    </div>
  </form>
</div>
