// header

.header {
  height: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 10px;
  padding: 0 0px;
}

.left-content, .center-content, .right-content {
  display: flex;
  align-items: center;
}

.center-content {
  justify-content: center;
  gap: 8px;
}

// body

.workspace {
  display: flex;

  .playfield-column {
    flex: 1;
    margin-right: 10px;
  }

  .code-editor-column {
    flex: 1;
  }
}

.run {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;

  .noOverFlow {
    min-width: 150px;
    overflow: hidden;
  }
}

.result {
  flex: 1;
  overflow: auto;

  .polarNight_4_text {
    color: #2e3440;;
  }
}

