.popup-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.h-container {
  display: flex;
  flex-direction: row;
}

.action-container{
  height: 66px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
  gap: 10px;
}

.header-container{
  height: 50px;
}

.button-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;

}

.editor-container{
  width: 100%;
  height: calc(100% - 66px);
  padding: 20px;
}
