<div class="popup-container">
  <!-- <div class="header-container">
    <h1>Vorlage/Muster bearbeiten</h1>
  </div> -->

  <div class="editor-container">
    <app-editor mode="create"></app-editor>
  </div>

  <div class="action-container">
    <div class="button-container">
      <button mat-raised-button class="button" color="primary" (click)="onSaveClick()">{{popupTitle}} Speichern</button>
      <button mat-raised-button class="button" color="warn" (click)="onCancelClick()">Abbrechen</button>
    </div>
  </div>

</div>
