<div class="vertical-container">
  <div>
    <button *ngIf="voteData.userVoteStatus != 1" mat-button (click)="onUpvote($event)" class="small-button">
      <mat-icon class="small-icon">arrow_upward</mat-icon>
    </button>
    <button *ngIf="voteData.userVoteStatus == 1" mat-stroked-button (click)="onUpvote($event)" class="small-button" style="width: 25px;">
      <mat-icon class="small-icon">arrow_upward</mat-icon>
    </button>

    <div class="count-box">{{ voteData.votes + voteData.userVoteStatus}}</div>

    <button *ngIf="voteData.userVoteStatus != -1" mat-button (click)="onDownvote($event)" class="small-button">
      <mat-icon class="small-icon">arrow_downward</mat-icon>
    </button>
    <button *ngIf="voteData.userVoteStatus == -1" mat-stroked-button (click)="onDownvote($event)" class="small-button">
      <mat-icon class="small-icon">arrow_downward</mat-icon>
    </button>
  </div>

  <div>
    <!-- <mat-icon *ngIf="isSolution" class="small-icon" style="padding-left: 3px;" title="Diese Frage wurde beantwortet.">check</mat-icon> -->

    <span matTooltip="Diese Frage ist beantwortet." *ngIf="isSolution && !canMarkAsSolution">
      <mat-icon class="small-icon" style="padding-left: 3px;">check</mat-icon>
    </span>
    <button mat-stroked-button *ngIf="isSolution && canMarkAsSolution" class="small-button" (click)="onMarkAsSolution($event)">
      <span matTooltip="Diese Antwort nicht mehr als Lösung kennzeichnen.">
        <mat-icon class="small-icon">check</mat-icon>
      </span>
    </button>
    <button mat-button *ngIf="!isSolution && canMarkAsSolution" class="small-button" (click)="onMarkAsSolution($event)">
      <span matTooltip="Diese Antowort als Lösung kennzeichnen.">
        <mat-icon class="small-icon">done_outline</mat-icon>
      </span>
    </button>

  </div>


</div>

