<div class="question-box">
  <div class="question-row">
    <div style="padding-left: 10px; padding-top: 14px">
      <app-discussion-votebox [messageId]="questionData.initMessageId" [isSolution]="questionData.isSolved"></app-discussion-votebox>
    </div>

    <div class="vertical-line"></div>

    <div class="vertical-container">
      <div style="width: 100%;">
        <div class="question-row">
          <mat-icon>account_circle</mat-icon>
          <div *ngIf="(sSS.isLandscape | async); else descElse" style="display: flex;">
            <!-- <p style="margin: 0px;">Beitrag von {{questionData.authorName}} • {{readableDate}}</p>
            <p style="margin: 0 0 10px;">&nbsp;• Verbundener Inhalt: {{questionData.contentNodeName}}</p> -->
            <p class="nowrap-text" style="margin: 0px;">Beitrag von {{questionData.authorName}} • {{readableDate}} • Verbundener Inhalt: {{questionData.contentNodeName}}</p>
          </div>
          <ng-template #descElse>
            <p class="nowrap-text" style="margin: 0px;">{{questionData.authorName}}</p>
            <!-- <p style="margin: 0 0 10px;">&nbsp;• {{questionData.contentNodeName}}</p> -->
          </ng-template>
        </div>
        <h1 class="nowrap-text">{{ questionData.title }}</h1>
      </div>
      <p *ngIf="(sSS.isLandscape | async); else commentElse">{{questionData.commentCount}} Kommentare</p>
      <ng-template #commentElse>
        <p class="nowrap-text">Unter: {{questionData.contentNodeName}}</p>
        <p>{{readableDate}}</p>
      </ng-template>
    </div>
  </div>
</div>
