<div class="question-box">
  <div class="question-row">
    <div style="padding-left: 10px; padding-top: 14px">
      <app-discussion-votebox [messageId]="questionData.initMessageId" [isSolution]="questionData.isSolved"></app-discussion-votebox>
    </div>

    <div class="vertical-line"></div>

    <div class="vertical-container">
      <div>
        <div class="question-row">
          <mat-icon>account_circle</mat-icon>
          <div style="display: flex;">
            <p style="margin: 0px;">Beitrag von {{questionData.authorName}} • {{readableDate}}</p>
            <p style="margin: 0 0 10px;">&nbsp;• Verbundener Inhalt: {{questionData.contentNodeName}}</p>
          </div>
        </div>
        <h1>{{ questionData.title }}</h1>
      </div>
      <p>{{questionData.commentCount}} Kommentare</p>
    </div>
  </div>
</div>
