<div *ngIf="discussionData.id != -1 && initiatorMessage.messageId != -1" class="main-container">
  <div style="width: 1000px;">
    <div class="content mat-elevation-z8">
      <h1>{{discussionData.title}}</h1>
      <app-discussion-view-question [messageData]="initiatorMessage" [conceptNodeName]="conceptNodeName" [discussionData]="discussionData"></app-discussion-view-question>
    </div>
    <div class="content mat-elevation-z8">
      <app-discussion-view-create
        [discussionId]="discussionData.id"
        (refreshMessages)="refreshMessages()">
      </app-discussion-view-create>
    </div>
    <div class="content mat-elevation-z8">
      <h1>Antworten</h1>
      <!-- <app-discussion-view-message *ngFor="let message of messagesData" [messageData]="message" [userIsAuthor]="userId == initiatorMessage.authorId"></app-discussion-view-message> -->
      <table mat-table [dataSource]="messagesData" matSort (matSortChange)="onSort($event)" style="visibility: hidden;">
        <ng-container matColumnDef="message">
          <!-- <th style="visibility: visible;" mat-header-cell *matHeaderCellDef mat-sort-header> Message </th> -->
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="sortColumn" style="visibility: visible;"> Sortiert nach: {{sortingText}} </th>
          <td mat-cell *matCellDef="let message" style="padding: 0;"> 
            <app-discussion-view-message style="visibility: visible;" [messageData]="message" [userIsAuthor]="userId == initiatorMessage.authorId"></app-discussion-view-message>
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</div>



