<div class="playfield">
  <p>{{ compilerGameOutput }}</p>

<!--  TODO: Show game output informations-->

  <div class="game-information">
    <p>{{ gameOutputInformation }}</p>
  </div>

  <div class="field">
    <div *ngFor="let row of gameField; let i = index" class="row">
      <div *ngFor="let cell of row; let j = index" class="cell">
        <img [src]="getFloorImage(i, j)" alt="floorImage" class="floorImage" />
        <img *ngIf="getActorImage(i, j)" [src]="getActorImage(i, j)" alt="actorImage" class="actorImage" />
      </div>
    </div>
  </div>
</div>
