<div class="playfield">
<!--  TODO: remove, just for testing-->
<!--  <p>{{ compilerGameOutput }}</p>-->

<!--  TODO: Show game output informations-->

  <div class="game-information">
    <p>{{ gameOutputInformation }}</p>
  </div>

  <div class="playfield">
    <div class="field">
      <div *ngFor="let row of gameField; let i = index" class="row">
        <div *ngFor="let cell of row; let j = index" class="cell">
          <img [src]="getFloorImage(i, j)" alt="floorImage" class="floorImage" />
        </div>
      </div>
      <!-- Render player once and adjust its position via transform -->
      <img *ngIf="roverPositstionIsSet" [src]="getActorImage()" alt="actorImage"
           class="actorImage"
           [style.transform]="roverTransform" />
    </div>
  </div>
</div>
