.playfield {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.game-information {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  height: 30px;
  width: 20vw;
  background-color: #3f51b5;
  border-radius: 5px;

  p {
    color: white;
    text-align: center;
  }
}

.field {
  display: grid;
  // set grid size dynamically
  grid-template-rows: repeat(var(--rows, 10), var(--cell-size, 60px));
  grid-template-columns: repeat(var(--columns, 10), var(--cell-size, 60px));
  position: relative;

  .row {
    display: contents;
  }

  .cell {
    width: var(--cell-size, 60px);
    height: var(--cell-size, 60px);
    position: relative;
  }

  .floorImage,
  .actorImage {
    width: var(--cell-size, 60px);
    height: var(--cell-size, 60px);
    position: absolute;
    transition: transform 40ms linear;
  }

  .floorImage {
    z-index: 1;
  }

  .actorImage {
    z-index: 2;
  }
}


