<!--Toolbar -> upper horizontal bar -->
<mat-toolbar>
  <div class="toolbar-content">
    <span style = "margin-left: 15px;">Tutor Kai: Lecture Linker</span>
  </div>
  <img style = "margin-top: -2px; margin-bottom: 4px" src="../../../assets/fak4.png" alt="Logo" class="toolbar-logo">
</mat-toolbar>



<div class="content mat-elevation-z8">

  <router-outlet></router-outlet>

</div>


<!--Toolbar-> footer/bottom bar -->
 <mat-toolbar class="footer">
  <span class="footer-content">
    <button mat-button (click)="openImpressum()">Impressum</button>
    <mat-divider vertical="true" class="divider"></mat-divider>
    <button mat-button (click)="openDatenschutz()">Datenschutz</button>
    <mat-divider vertical="true" class="divider"></mat-divider> <!-- Additional divider -->
    <a mat-button href="mailto:sven.jacobs@uni-siegen.de">Feedback</a> <!-- Additional button for feedback -->
  </span>
</mat-toolbar>

