<div class="content mat-elevation-z8">
  <div style="display: flex; flex-direction: row; justify-content: space-between;">
    <h1>Beiträge</h1>
    <button mat-raised-button (click)="onNewDiscussion()">Neuen Beitrag erstellen</button>
  </div>
  
  <p>FilterData: unset</p>
  <div class="container">
    <div *ngIf="visibleDiscussions && visibleDiscussions.discussions && visibleDiscussions.discussions.length > 0">
      <app-question *ngFor="let question of visibleDiscussions.discussions"
        [questionData]="question"
        (click)="onQuestionClick(question.id)"></app-question>
    </div>
    <p *ngIf="visibleDiscussions.discussions.length == 0">Zu diesem Thema/Filter wurden keine Beiträge gefunden. Erstelle den Ersten oder ändere das Thema bzw. den Filter!</p>
  </div>
</div>

<!-- TODO: Wechsel zwischen alle und meine Beitraege -->
