.content-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.list-container {
  height: 20h;
  /* margin: 16px;
  margin-left: 32px; */
  padding: 16px;

  contain: content;
  overflow-y: hidden;
  scrollbar-width: thin;

  font-size: 14px;
  border-radius: 10px;
  background-color: #eceff4;
}

.discussions-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
