<!-- expand button -->
<button  *ngIf="expanded" (click)="expanded = !expanded" mat-stroked-button >
  {{ expanderTitle }}
  <span class="{{expanded ? 'arrow-up' : 'arrow-down'}}"></span>
</button>
<button  *ngIf="!expanded" (click)="expanded = !expanded" mat-raised-button>
  {{ expanderTitle }}
  <span class="{{expanded ? 'arrow-up' : 'arrow-down'}}"></span>
</button>
<!-- text box -->
<div [ngClass]="{'fade-in-out': true, 'active': expanded}">
  <div class="vbox">
    <app-tinymce #editor></app-tinymce>
    <!-- button not available if not logged in -->
    <button mat-raised-button style="width: fit-content; margin-bottom: 8px; margin-top: 16px;" (click)="onSubmit(editor)">Senden</button>
  </div>
</div>
