$orange: #FF893B;
$black: #465461;
$blue: #729CA2;
$light_blue: #C4DCDF;
$white: #ECF3F4;

.chat-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 10%;
    right: 1%;
    background-color: $black;
    z-index: 1000;

    .button-icon {
      width: 75%;
      padding-left: 12px;
    }
}

.chat-container {
  max-width: 400px;
  width: 100%;
  position: fixed;
  bottom: 10%;
  right: 5%;
  z-index: 1000;

  @media (max-width: 480px) {
    max-width: 94%;
    right: 3%;
    bottom: 10%;
  }

  .collapsible-chat {
    width: 100%;
    max-height: 80vh;
    display: flex;
    flex-direction: column;

    .chat-content {
      flex-grow: 1;
      overflow-y: auto;
    }

    .chat-actions {
      .chat-form {
        width: 100%;

        ::ng-deep .mat-form-field-flex {
          align-items: flex-end !important;
        }

        ::ng-deep .mat-form-field-wrapper {
          padding-bottom: 0;
        }

        .chat-input {
          width: 100%;
          max-width: 100%;
          resize: none;
          max-height: 100px;
          overflow-y: auto;
        }
      }
    }
  }
}

::ng-deep .mat-form-field-flex {
  align-items: flex-end !important;
}
