<mat-toolbar class="header" color="primary">
  <div class="left-content">
    <a mat-list-item routerLink="/dashboard" style="cursor: pointer" routerLinkActive="active-link">
      <span style="font-size: 15px">Zurück zum Dashboard</span>
    </a>
  </div>

  <div class="center-content">
    <span style="font-size: 15px" *ngIf="taskWorkspaceData.title">{{
      taskWorkspaceData.title
    }}</span>
  </div>

  <div class="right-content">
    <span style="font-size: 15px; margin-right: 10px">UMLearn</span>
    <img src="../../../../../assets/img/umlearn_logo_small.png" alt="Umlearn Logo" />
  </div>
</mat-toolbar>

<div class="h-box">
  <div [ngClass]="{ submitted: isSubmitted }" class="information-container" style="height: 100%">
    <!-- <div class="title-container">
      <h3>Aufgabe: {{ taskWorkspaceData.title }}</h3>
    </div> -->

    <div
      [ngClass]="{ submitted: isSubmitted }"
      class="task-container mat-elevation-z8"
      style="display: flex; flex-direction: column"
    >
      <div class="tinymce-container" *ngIf="init">
        <app-tinymce
          style="width: 100%"
          [content]="taskWorkspaceData.description"
          [tinymceConfig]="tinyMceConfig"
          [isMarkOnly]="true"
        ></app-tinymce>
      </div>

      <div class="button-container">
        <!-- <button mat-raised-button color="accent" style="width: 50%;" (click)="onCancel()">Abbrechen</button> -->
        <button
          mat-raised-button
          [disabled]="attemptCommitting"
          color="primary"
          style="width: 50%"
          (click)="onAccept(editor.getSaveData())"
        >
          <span *ngIf="!attemptCommitting">Abgeben</span>
          <mat-spinner *ngIf="attemptCommitting" style="width: 20px; height: 20px"></mat-spinner>
        </button>
      </div>
    </div>

    <div [ngClass]="{ submitted: isSubmitted }" class="feedback-container mat-elevation-z8">
      <div *ngIf="helpVisible" style="height: 100%; display: flex; flex-direction: column">
        <div>
          <h1>Erreichte Punkte: {{ reachedPoints }} von {{ taskWorkspaceData.maxPoints }}</h1>
          <div style="display: flex; flex-direction: row; justify-content: center">
            <button
              [disabled]="!(!feedbackGenerated && !feedbackLoading && !feedbackHighlightLoading)"
              mat-raised-button
              color="primary"
              (click)="onGenerateFeedback()"
              style="width: 50%"
            >
              <span *ngIf="!feedbackLoading">Feedback generieren</span>
              <mat-spinner *ngIf="feedbackLoading" style="width: 20px; height: 20px"></mat-spinner>
            </button>
          </div>
        </div>

        <div style="overflow: auto; margin-top: 10px; padding-bottom: 10px">
          <pre *ngIf="!feedbackLoading" style="white-space: pre-wrap; word-wrap: break-word">{{
            feedbackText
          }}</pre>
        </div>
      </div>
    </div>
  </div>

  <div class="editor-container">
    <app-editor
      #editor
      [selectableNodes]="taskWorkspaceData.taskSettings.allowedNodeTypes"
      [selectableEdges]="taskWorkspaceData.taskSettings.allowedEdgeTypes"
      [nodes]="taskAttemptData.attemptData.nodes"
      [edges]="taskAttemptData.attemptData.edges"
    ></app-editor>
  </div>
</div>
