<h2 mat-dialog-title>Frage hinzufügen</h2>
<mat-dialog-content style="height: 100%;">
  <mat-tab-group style="height: 100%;" [selectedIndex]="activeTab === 'new' ? 0 : 1" (selectedTabChange)="onTabChange($event)">
    <mat-tab label="Neue Frage">
      <form class="tab-content" [formGroup]="creationForm">
        <mat-form-field>
          <input matInput placeholder="Titel der Frage" formControlName="questionTitle">
          <mat-error *ngIf="creationForm.get('questionTitle')!.hasError('required')">Titel der Frage ist
            erforderlich</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Fragentyp" formControlName="questionType">
            <mat-option value="FreeText">Freitext</mat-option>
            <mat-option value="SC">Single Choice</mat-option>
            <mat-option value="MC">Multiple Choice</mat-option>
            <mat-option value="Fillin">Lückentext</mat-option>
            <mat-option value="CodingQuestion">Programmieraufgabe</mat-option>
            <mat-option value="UML" disabled>UML</mat-option>
          </mat-select>
          <mat-error *ngIf="creationForm.get('questionType')!.hasError('required')">Fragentyp ist erforderlich</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Schwierigkeit</mat-label>
          <mat-select formControlName="questionDifficulty">
            <mat-option value="1">Level 1: Erinnern</mat-option>
            <mat-option value="2">Level 2: Verstehen</mat-option>
            <mat-option value="3">Level 3: Anwenden</mat-option>
            <mat-option value="4">Level 4: Analysieren</mat-option>
            <mat-option value="5">Level 5: Evaluieren</mat-option>
            <mat-option value="6">Level 6: Kreieren</mat-option>
          </mat-select>
          <mat-error *ngIf="creationForm.get('questionDifficulty')!.hasError('required')">Schwierigkeitsgrad ist
            erforderlich</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="number" min="0" step="1" placeholder="Punkte" formControlName="questionScore">
          <mat-hint>Punkte</mat-hint>
          <mat-error *ngIf="creationForm.get('questionScore')!.hasError('required')">Punkte sind erforderlich</mat-error>
        </mat-form-field>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Erweiterte Optionen (optional)</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="expansion">
            <p>Die Auswirkungen dieser Einstellungen sind in der Übersicht nicht sichtbar und beziehen sich nur auf interne Datenbankparameter</p>
            <mat-form-field>
              <textarea matInput placeholder="Beschreibung der Frage" formControlName="questionDescription"></textarea>
              <mat-hint>Zum Beispiel "manuell erstellt" oder "automatisch importiert"</mat-hint>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Titel des ContentElements" formControlName="contentElementTitle">
              <mat-hint>Standardmäßig der Titel der Frage</mat-hint>
            </mat-form-field>
            <mat-form-field>
              <textarea matInput placeholder="Beschreibung des ContentElements" formControlName="contentElementDescription"></textarea>
              <mat-hint>Standardmäßig keine Beschreibung</mat-hint>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Position des ContentElements" disabled>
            </mat-form-field>
          </div>
        </mat-expansion-panel>
      </form>
    </mat-tab>
    <mat-tab label="Vorhandene Frage">
      <form [formGroup]="connectionForm">

        <mat-form-field>
          <input matInput type="number" min="0" placeholder="QuestionId" formControlName="questionId">
          <mat-error *ngIf="connectionForm.get('questionId')!.hasError('required')">QuestionId ist erforderlich</mat-error>
          <mat-hint>Id einer existierenden, unverlinkten Frage</mat-hint>
        </mat-form-field>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Erweiterte Optionen (optional)</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="expansion">
            <p>Die Auswirkungen dieser Einstellungen sind in der Übersicht nicht sichtbar und beziehen sich nur auf interne Datenbankparameter</p>
            <mat-form-field>
              <input matInput placeholder="Titel des ContentElements" formControlName="contentElementTitle">
              <mat-hint>Standardmäßig der Titel der Frage</mat-hint>
            </mat-form-field>
            <mat-form-field>
              <textarea matInput placeholder="Beschreibung des ContentElements" formControlName="contentElementDescription"></textarea>
              <mat-hint>Standardmäßig keine Beschreibung</mat-hint>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Position des ContentElements" disabled>
            </mat-form-field>
          </div>
        </mat-expansion-panel>

      </form>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Abbrechen</button>
  <button mat-button (click)="onSubmit()">Erstellen</button>
</mat-dialog-actions>
