<div class="test-indicators-container" *ngIf="testResults && testResults.length > 0" [class.active]="isNewResult">
  <div class="test-indicators">
    <div
      *ngFor="let test of testResults"
      class="test-indicator"
      [class.passed]="test.passed"
      [class.failed]="!test.passed"
      [class.new-result]="isNewResult"
      [matTooltip]="test.name"
      (click)="openTestDetails(test)">
    </div>
  </div>

  <div class="test-summary" [ngClass]="getSummaryClass()" (click)="openAllTestsDetails()">
    {{ getTestSummary() }}
  </div>
</div>

<div class="test-indicators-container empty" *ngIf="!testResults || testResults.length === 0">
  <span>Keine Tests verfügbar</span>
</div>
