<div class="content mat-elevation-z8">
  <h1 style="display: flex; justify-content: center;">Lückentext Aufgabe bearbeiten</h1>

  <div class="horizontal-align-container">
    <div class="text-container" style="width: 30%;">
      <div class="wrap-container">

        <h2>Optionen</h2>

        <form [formGroup]="fillinForm">
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Titel</mat-label>
            <input matInput placeholder="Titel der Frage" formControlName="questionTitle">
            <mat-error *ngIf="fillinForm.get('questionTitle')!.hasError('required')">Titel der Frage ist
              erforderlich</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>FillinType</mat-label>
            <mat-select formControlName="fillinType">
              <mat-option [value]="fillinTypes.FillinText">Texteingabe</mat-option>
              <mat-option [value]="fillinTypes.FillinDrag">Drag & Drop</mat-option>
              <mat-option [value]="fillinTypes.FillinDropdown">Dropdown</mat-option>
              <mat-option disabled [value]="fillinTypes.GroupingTask">GroupingTask</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Schwierigkeit</mat-label>
            <mat-select formControlName="questionDifficulty">
              <mat-option value="1">Level 1: Erinnern</mat-option>
              <mat-option value="2">Level 2: Verstehen</mat-option>
              <mat-option value="3">Level 3: Anwenden</mat-option>
              <mat-option value="4">Level 4: Analysieren</mat-option>
              <mat-option value="5">Level 5: Evaluieren</mat-option>
              <mat-option value="6">Level 6: Kreieren</mat-option>
            </mat-select>
            <mat-error *ngIf="fillinForm.get('questionDifficulty')!.hasError('required')">Schwierigkeitsgrad ist
              erforderlich</mat-error>
          </mat-form-field>
          <!-- <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Choice-Typ</mat-label>
            <mat-select formControlName="questionType">
              <mat-option value="SC">Single Choice</mat-option>
              <mat-option value="MC">Multiple Choice</mat-option>
            </mat-select>
            <mat-error *ngIf="fillinForm.get('questionDifficulty')!.hasError('required')">Schwierigkeitsgrad ist
              erforderlich</mat-error>
          </mat-form-field> -->
          <mat-form-field appearance="outline" style="width: 100%;">
            <input matInput type="number" min="0" step="1" placeholder="Punkte" formControlName="questionScore">
            <mat-label>Punkte</mat-label>
            <mat-error *ngIf="fillinForm.get('questionScore')!.hasError('required')">Punkte sind
              erforderlich</mat-error>
          </mat-form-field>
        </form>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Erweiterte Optionen (optional)</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="expansion">
            <p>Die Auswirkungen dieser Einstellungen sind in der Übersicht nicht sichtbar und beziehen sich nur auf
              interne Datenbankparameter</p>
            <form [formGroup]="fillinForm">
              <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Beschreibung der Frage</mat-label>
                <textarea matInput placeholder="Beschreibung der Frage"
                  formControlName="questionDescription"></textarea>
                <mat-hint>Zum Beispiel "manuell erstellt" oder "automatisch importiert"</mat-hint>
              </mat-form-field>
            </form>
          </div>
        </mat-expansion-panel>
      </div>
    </div>


    <div class="text-container" style="width: 70%;">
      <div class="wrap-container">

        <!-- --- hier fillin ---- -->



        <div class="container">
          <div *ngIf="!isEditorLoaded" class="loading-indicator">
            Loading editor...
          </div>

          <form [formGroup]="fillinForm">
            <!-- <app-tinymce #editor [config]="editorConfig" formControlName="fillinContent"></app-tinymce> -->
            <textarea id="fillinEditor"></textarea>
          </form>

          <!-- <button class="generate-task-btn" mat-raised-button color="primary" [disabled]="this.fillinForm.invalid" (click)="generateTask()">
            {{ buttonText }}
          </button> -->

          <!-- Add the distractor section here, after the generate task button -->
          <div class="distractor-section">
            <h3>Falsche Antworten (Distraktoren)</h3>
            <div class="distractor-input">
              <input
                type="text"
                [(ngModel)]="distractorInput"
                (keyup)="onDistractorKeyUp($event)"
                placeholder="Falsche Antwort hier eintragen">
              <button (click)="addGlobalDistractor(distractorInput)">Add</button>
            </div>
            <ul class="distractor-list">
              <li *ngFor="let distractor of distractors">
                {{ distractor.blankContent }}
                <button (click)="removeGlobalDistractor(distractor)">Remove</button>
              </li>
            </ul>
          </div>

          <!-- <div *ngIf="fillinForm.value.questionTitle" class="question-details-display">
            <div class="details-column">
              <h3>Aufgabendetails: </h3>
              <div class="task-type">
                <strong>Aufgabentyp: </strong> {{ questionDetails.taskType }}
              </div>
              <div class="question-name">
                <strong>Name der Frage: </strong> {{ questionDetails.name }}
              </div>
              <div class="question-text">
                <strong>Fragentext: </strong> {{ questionDetails.text }}
              </div>
              <div class="conceptName">
                <strong>Konzeptname: </strong> {{ questionDetails.conceptName }}
              </div>
              <button mat-raised-button color="primary" (click)="openQuestionDetailsDialog()">
                Aufgabendetails bearbeiten
              </button>
            </div>
            <div class="generated-content-column" id="generated-content-container" >
              <h3>Generierte Aufgabe:</h3>
              <div *ngIf="generatedContent"
                   [innerHTML]="generatedContent | safeHtml"
                   (click)="handleGeneratedContentClick($event)">
              </div>
            </div>
          </div> -->
        </div>





        <!-- -------------------- -->

      </div>
    </div>

  </div>

  <div class="button-container">
    <mat-progress-spinner *ngIf="isSaving" diameter="20" mode="indeterminate"></mat-progress-spinner>
    <button mat-raised-button [disabled]="isSaving" color="primary" (click)="onOverwrite()">Speichern (aktualisieren)</button>
    <div matTooltip="Die aktuelle Version hat noch keine Single/Multiple Choice Daten."
      [matTooltipDisabled]="!!detailedQuestionData?.mcQuestion">
      <button mat-raised-button color="primary"
        (click)="onSaveNewVersion()"
        [disabled]="!detailedQuestionData?.mcQuestion || isSaving || true"
        >Als neue Version speichern</button>
    </div>
    <button mat-raised-button color="warn" (click)="onCancel()">Abbrechen</button>
    <!-- <button (click)="logContent()">LOG CONTENT</button> -->
  </div>
</div>
