
<div class="container">
  <mat-card class="mat-elevation-z5 card">
    <mat-card-header>
      <mat-card-title class = "text-black">Struktur</mat-card-title>
      <mat-card-subtitle class = "text-black">Aufbau des Systems</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="content">
      <img src="./assets/figma.webp" alt="Universität Siegen Logo" class="logo">
      <p class = "text-black">
        Der Transparenz halber hier die grobe Struktur des Systems. In Zukunft sollen neben der Open AI API vor allem auch Open Source Modelle getestet werden.
      </p>
    </mat-card-content>
  </mat-card>
</div>
