.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: calc(100% - 40px);
  margin: 20px;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.horizontal-align-container {
  flex-grow: 1;
  display: flex;
  gap: 20px;
  overflow: hidden;
}

.text-container {
  height: 100%;
  overflow-y: auto;
}

.wrap-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.wrap-container > * {
  flex: 1 1 700px;
}

.expansion {
  display: flex;
  flex-direction: column;
}

.button-container {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  align-items: center;
}

// Styles for Link Management
.link-management-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.link-management-content {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.question-list-card {
  flex: 1;
  max-height: 400px;
  display: flex;
  flex-direction: column;
}

.question-list {
  overflow-y: auto;
}

.empty-list-message {
  text-align: center;
  color: grey;
  padding-top: 20px;
}

.list-spacer {
  flex-basis: 20px;
}

.mat-list-item {
  height: auto !important; // Override default height to fit content
  padding: 8px 0 !important;
}

.question-type-label {
  font-size: 0.8em;
  color: grey;
}
