<p>Task-Overview for ConceptNodeID: {{activeConceptNodeId}}</p>
<p>Tasks for Concept: {{taskOverviewData}}</p>

<div class="taskProgress-Container">
    <mat-card class="task-progress-card" class="failed">
        <mat-card-header>
            <mat-card-title-group> 
                <mat-card-title>Fortschritt für {{activeConceptNodeId}}</mat-card-title>
            </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
            <section>
                Faktenwissen (60%)
                <mat-progress-bar mode="determinate" value="60" color="warn"></mat-progress-bar>
            </section>
            <section>
                Programmieraufgaben (40%)
                <mat-progress-bar mode="determinate" value="40" color="warn"></mat-progress-bar>
            </section>
        </mat-card-content>
    </mat-card>
</div>

<table mat-table [dataSource]="taskOverviewData" class="mat-elevation-z8">
  
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef> Aufgabentyp </th>
      <td mat-cell *matCellDef="let element"> {{element.type}} </td>
    </ng-container>
  
    <ng-container matColumnDef="attempts">
        <th mat-header-cell *matHeaderCellDef> Versuche </th>
        <td mat-cell *matCellDef="let element"> {{element.attempts}} </td>
    </ng-container>

    <ng-container matColumnDef="progress">
        <th mat-header-cell *matHeaderCellDef> Progress </th>
        <td mat-cell *matCellDef="let row">
          <mat-progress-spinner
            [value]="row.progress"
            [mode]="'determinate'"
            [diameter]="30"
          ></mat-progress-spinner>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Aktionen </th>
        <td mat-cell *matCellDef="let row">
          <button mat-raised-button color="primary" (click)="onTaskIdentityClick(row)" class="button">Lösen</button>
          <button mat-raised-button color="primary" class="button">Feedback Historie</button>
        </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<!-- OLD 
<div class="taskOverview-container"> 

    <mat-card *ngFor="let question of taskOverviewData" class="task-overview-card" (click)="onTaskIdentityClick(question)">
        <mat-card-header>
            <mat-card-title-group> 
                <mat-card-title class="card-title">{{question.name}}</mat-card-title>
            </mat-card-title-group>
        </mat-card-header>  
        <mat-card-content>
            <p>Typ: {{question.type}}</p>
            <p>Versuche: {{question.attempts}}</p>
        </mat-card-content>
        <mat-card-footer>
            <mat-progress-bar class="task-progress-bar" mode="determinate" value="50" color="warn"></mat-progress-bar>
        </mat-card-footer>
    </mat-card>
</div>
-->
