.task-container {
    display: flex;
    margin-top: 8px;
}

.task-overview-card {
    width: 200px;
    height: 120px;
    margin-right: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.button {
    margin: 4px;
}

.task-progress-card {
    margin-bottom: 4px;
}

.passed {
    background-color: rgb(0, 255, 0, 0.3);
}

.floating {
    background-color: rgb(255, 255, 0, 0.3);
}

.failed {
    background-color: rgb(255, 0, 0, 0.3);
}

.task-progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  justify-content: space-evenly;
  grid-gap: 5px;
}

.card-title {
    font-size: medium;
}
