<p>Task-Overview for ConceptNodeID: {{activeConceptNodeId}}</p>
<p>Taks-IDs for Concept: {{questionsForConcept}}</p>

<div class="taskProgress-Container">
    <mat-card class="task-progress-card">
        <mat-card-content>
            <h2>Fortschritt für {{activeConceptNodeId}}</h2>
            <section>
                <mat-progress-bar mode="determinate" value="40" color="warn"></mat-progress-bar>
            </section>
        </mat-card-content>
    </mat-card>
</div>

<div class="taskOverview-container">
   
    <!-- <mat-card *ngFor="let question of questionsForConcept" class="task-overview-card" (click)="onTaskClick(question)">
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>Aufgabe</mat-card-title>
            </mat-card-title-group>
        </mat-card-header>  
        <mat-card-content>
            Versuche: 2
        </mat-card-content>
        <mat-card-footer>
            <mat-progress-bar mode="determinate" value="33" color="warn"></mat-progress-bar>
        </mat-card-footer>
    </mat-card> -->

    <mat-card *ngFor="let question of questionIdentityData" class="task-overview-card" (click)="onTaskIdentityClick(question)">
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>Aufgabe</mat-card-title>
            </mat-card-title-group>
        </mat-card-header>  
        <mat-card-content>
            Versuche: 2
        </mat-card-content>
        <mat-card-footer>
            <mat-progress-bar mode="determinate" value="33" color="warn"></mat-progress-bar>
        </mat-card-footer>
    </mat-card>
    
</div>
