.outer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

video {
 // border-radius: 10px; // Fügt abgerundete Ecken hinzu
 // box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); // Fügt einen Boxschatten hinzu
  margin-top: 1rem; // Fügt einen oberen Rand hinzu
}

.outer-container {
  position: relative; /* Ermöglicht die absolute Positionierung von untergeordneten Elementen */
}

.outer-container .drag-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  cursor: move; /* Optional: Zeigt einen 'Move'-Cursor, wenn der Benutzer über das Icon fährt */
}
