.question-box {
  font-size: 14px;
  border-radius: 10px;

  border: 1px solid #c9c9c9;
  background-color: #ffffff;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.question-row {
  display: flex;
  gap: 10px;
}

.vertical-line {
  border-left: 1px solid #acacac;
  height: auto;
}

.vertical-container {
  width: calc(100% - 60px);
  min-height: 100px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 14px;
}
