.grabPoint {
  position: absolute;
  z-index: 1000;
}

.grabPoint:hover {
  opacity: 1 !important;
}

.grabPoint:hover .svgCircle {
  cursor: move;
}

.visibleArea {
  position: absolute;
  z-index: 999;
  opacity: 0.5;
}

.visibleArea:hover .grabPoint {
  opacity: 1;
}
