.chat-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

}

.messages-container{
  overflow-y: auto;
  scrollbar-width: thin;
}

.chat-message {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

.user {
  align-self: flex-end;
  background-color: #4c566a;
  margin-left: 100px;
}

.bot {
  align-self: flex-start;
  background-color: #d8dee9;
  margin-right: 100px;
}

.chat-input {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 10px;
}

.input-field {
  flex-grow: 1;
  margin-right: 10px;
}

