<div class="chat-container">

  <div class="chat-input">
    <mat-form-field class="input-field" appearance="fill" (keydown.enter)="askQuestion()">
      <mat-label>Stelle eine Frage...</mat-label>
      <input matInput [(ngModel)]="question">
    </mat-form-field>
    <mat-radio-group
  aria-labelledby="example-radio-group-label"
  class="example-radio-group"
  [(ngModel)]="lecture">
    <mat-radio-button  class="example-radio-button" *ngFor="let lecture of lectureOptions" [value]="lecture">{{lecture}}</mat-radio-button>

</mat-radio-group>

    <button *ngIf="!isStreaming" mat-raised-button style="font-size:24px; height:52px; width: 100px; margin-left: 20px" color="primary" (click)="askQuestion()">Los</button>
    <button *ngIf="isStreaming" mat-raised-button disabled style="font-size:24px; height:52px; width: 100px; margin-left: 20px" color="primary" (click)="askQuestion()">Los</button>
  </div>
  <p style = "margin-top: -25px;" class="prose max-w-none text-center prose-gray prose-sm">Die Antworten werden mit generativer KI erzeugt! Überprüfen Sie immer die Vollständigkeit und den Wahrheitsgehalt mit den verlinkten Vorlesungsvideos!</p>
  <mat-divider></mat-divider>

  <div class="messages-container">
    <div *ngFor="let message of messages" class="chat-message" [class.user]="!message.isBot" [class.bot]="message.isBot">
      <div *ngIf="message.isBot && message.question.length>2" class="prose max-w-none prose-stone prose-base" [innerHTML]="message.question"></div>
      <div *ngIf="!message.isBot && message.question.length>2" class="text-white prose max-w-none prose-stone prose-base" [innerHTML]="message.question"></div>
    </div>
    <mat-spinner *ngIf="isLoading" style="margin-left: 50%; margin-top: 20px;"></mat-spinner>

  </div>
</div>

