<div *ngIf="!workspaceIsActive;else workspaceContainer" class="content mat-elevation-z8">
    <h1 style="display: flex; justify-content: center;">Graphaufgabe erstellen/bearbeiten</h1>
  
    <div class="horizontal-align-container">
      <div class="text-container" style="width: 30%;">
        <div class="wrap-container">
  
            <h2>Optionen</h2>
  
            <form [formGroup]="graphForm">
                <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Titel</mat-label>
                <input matInput placeholder="Titel der Frage" formControlName="questionTitle">
                <mat-error *ngIf="graphForm.get('questionTitle')!.hasError('required')">Titel der Frage ist erforderlich</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Schwierigkeit</mat-label>
                <mat-select formControlName="questionDifficulty">
                    <mat-option value="1">Level 1: Erinnern</mat-option>
                    <mat-option value="2">Level 2: Verstehen</mat-option>
                    <mat-option value="3">Level 3: Anwenden</mat-option>
                    <mat-option value="4">Level 4: Analysieren</mat-option>
                    <mat-option value="5">Level 5: Evaluieren</mat-option>
                    <mat-option value="6">Level 6: Kreieren</mat-option>
                </mat-select>
                <mat-error *ngIf="graphForm.get('questionDifficulty')!.hasError('required')">Schwierigkeitsgrad ist erforderlich</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Punkte</mat-label>
                <input matInput type="number" min="0" step="1" placeholder="Punkte" formControlName="questionScore">
                <mat-error *ngIf="graphForm.get('questionScore')!.hasError('required')">Punkte sind
                    erforderlich</mat-error>
                </mat-form-field>
            </form>
  
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                <mat-panel-title>Erweiterte Optionen (optional)</mat-panel-title>
                </mat-expansion-panel-header>
                <div class="expansion">
                <p>Die Auswirkungen dieser Einstellungen sind in der Übersicht nicht sichtbar und beziehen sich nur auf interne Datenbankparameter</p>
                <form [formGroup]="graphForm">
                    <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Beschreibung der Frage</mat-label>
                    <textarea matInput placeholder="Beschreibung der Frage" formControlName="questionDescription"></textarea>
                    <mat-hint>Zum Beispiel "manuell erstellt" oder "automatisch importiert"</mat-hint>
                    </mat-form-field>
                </form>
                </div>
            </mat-expansion-panel>
        </div>
      </div>
  
      <div class="text-container" style="width: 70%;">
        <div class="wrap-container">
  
            <div style="width: 100%;">
                <div style="display: flex; justify-content: space-between;">
                    <h2>Aufgabentext</h2>
                    <button mat-raised-button color="primary" (click)="generateTextFromStructure()">Generate Text</button>
                </div>
                <app-tinymce #question [config]="editorConfig"></app-tinymce>
            </div>

            <form [formGroup]="graphForm">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Fragetyp</mat-label>
                    <mat-select formControlName="graphQuestionType" (selectionChange)="onChangeGraphQuestionType($event.value)">
                        <mat-option value="dijkstra">Dijkstra</mat-option>
                        <mat-option value="floyd">Floyd</mat-option>
                        <mat-option value="kruskal">Kruskal</mat-option>
                        <mat-option value="transitive_closure">Transitive Hülle</mat-option>
                    </mat-select>
                    <mat-error *ngIf="graphForm.get('graphQuestionType')!.hasError('required')">Fragetyp ist erforderlich</mat-error>
                </mat-form-field>
            </form>

            <button mat-raised-button [disabled]="graphForm.get('graphQuestionType')!.hasError('required')" color="primary" (click)="activateWorkspace()">Die Graphstruktur bearbeiten</button>
  
            <div style="width: 100%;">
                <h2>Erwartungshorizont</h2>
                <app-tinymce #expectations [config]="editorConfig"></app-tinymce>
            </div>
        </div>
      </div>
  
    </div>
  
    <div class="button-container">
        <div class="button-container-left">
            <button mat-raised-button color="basic" type="button" (click)="exportTask()" class="action-button" [disabled]="isSaving">Export Task</button>
            <input type="file" #fileInput style="display: none" (change)="importTask($event)" accept=".json" [disabled]="isSaving">
            <button mat-raised-button color="basic" type="button" (click)="fileInput.click()" class="action-button" [disabled]="isSaving">Import Task</button>
        </div>
        <div class="button-container-right">
            <mat-progress-spinner *ngIf="isSaving" diameter="20" mode="indeterminate"></mat-progress-spinner>
            <button mat-raised-button [disabled]="isSaving || graphForm.invalid" color="primary" (click)="onOverwrite()">Speichern (aktualisieren)</button>
            <!-- <div matTooltip="Die aktuelle Version hat noch keine Freitextdaten." [matTooltipDisabled]="!!detailedQuestionData?.freetextQuestion">
                <button mat-raised-button color="primary"
                (click)="onSaveNewVersion()"
                [disabled]="!detailedQuestionData?.freetextQuestion || isSaving || true"
                >Als neue Version speichern</button>
            </div> -->
            <button mat-raised-button color="warn" (click)="onCancel()">Abbrechen</button>
        </div>
    </div>
  </div>

<ng-template #workspaceContainer>
    <div class="workspace-container">
        <div class="solution box">
            <app-graph-structure />
        </div>
        <div class="controls box">

            <div style="display: flex; justify-content: start; align-items: center; gap: 1em; height: 100%;">
            
                <mat-button-toggle-group 
                    name="mode" 
                    aria-label="mode" 
                    [(ngModel)]="workspaceModeCurrent"
                    (ngModelChange)="updateWorkspace()"
                >
                    <mat-button-toggle value="assignment">Aufgabenstellung</mat-button-toggle>
                    <mat-button-toggle value="solution">Musterlösung</mat-button-toggle>
                </mat-button-toggle-group>
                <!-- [hideSingleSelectionIndicator]="true"
                     -->
                
                <mat-button-toggle-group
                    *ngIf="this.graphForm.value.stepsEnabled && workspaceModeCurrent === 'solution'"
                    name="solution-step"
                    aria-label="solution-step" 
                    [(ngModel)]="solutionStepCurrent"
                    (ngModelChange)="updateWorkspace()"
                >   
                    <mat-button-toggle 
                        *ngFor="let step of solutionGraphStructure; let i = index; trackBy:trackByIndex"    
                        [value]="i"
                    >
                        Schritt {{ i + 1 }}
                    </mat-button-toggle>

                </mat-button-toggle-group>
                <!-- [hideSingleSelectionIndicator]="true" -->
                    
                <button
                    *ngIf="this.graphForm.value.stepsEnabled && workspaceModeCurrent === 'solution'"
                    class="image-button"
                    type="button"
                    (click)="addNewSolutionStep()"
                > 
                    <!-- Neuen Schritt -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
                    </svg>
                </button>

                <button
                    *ngIf="detailedQuestionData?.graphQuestion?.stepsEnabled && workspaceModeCurrent === 'solution' && solutionGraphStructure.length > 1"
                    class="image-button"
                    type="button"
                    (click)="deleteCurrentSolutionStep()"
                > 
                    <!-- Schritt löschen -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                    </svg>
                </button>

                <button
                    *ngIf="workspaceModeCurrent === 'solution'"
                    class="image-button"
                    type="button"
                    (click)="resetSolution()"
                > 
                    <!-- Die Lösung zurücksetzen -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-counterclockwise" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2z"/>
                        <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466"/>
                    </svg>
                </button>

            </div>

            <button
                type="button" 
                (click)="deactivateWorkspace()" 
            > Bestätigen </button>
        </div>
    </div>
</ng-template>