.user-progress-container {
  padding: 20px;

  h2 {
    margin-bottom: 20px;
  }

  h3 {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  ul {
    list-style-type: none;
    padding-left: 20px;
  }

  li {
    margin-bottom: 5px;
  }
}
