<div class="lecturer-header">
  <button type="button" mat-icon-button (click)="drawer.toggle()" class="sidebar-toggle">
    <mat-icon>{{ drawer.opened ? 'chevron_left' : 'menu' }}</mat-icon>
  </button>
  <div class="title">
    <h2>Dozentenbereich</h2>
    <p>Verwaltung zum laufenden Studiengang</p>
  </div>
</div>
<mat-drawer-container class="lecturers-view-container" autosize>
  <mat-drawer #drawer [opened]="true" class="side-panel" mode="side">
    <a href="" style="pointer-events: none; color: gray;">Meine Aufgaben</a>
    <a routerLink="grading/uploads" routerLinkActive="active">Abgaben</a>
    <a routerLink="management/grouping" routerLinkActive="active">Benutzergruppen</a>
    <a routerLink="management/group-review-sessions" routerLinkActive="active">Review Sessions</a>
    <a routerLink="management/concept-rhino-files" routerLinkActive="active">Rhino Files</a>
  </mat-drawer>
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container> 
